.archive__appartments__list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px 50px;
}

.archive__appartments__list .appartament_card {
    flex: none;
    width: calc(100% / 2 - 25px);
}



@media screen and (max-width: 1000px) {
    .archive__appartments__list .appartament_card {
        width: calc(50% - 10px);
    }

    .archive__appartments__list {
        gap: 30px 20px;
    }
}

@media screen and (max-width: 900px) {
    .archive__appartments__list .appartament_card {
        width: 100%
    }

    .archive__appartments__list .appartament_card__image__inner {
        height: 360px;
        padding: 0;
    }
}

@media screen and (max-width: 550px) {
    .title_x--search br {
        display: none
    }

}