.page__about__text {
    max-width: 700px;
    margin-top: -7px;
    margin-bottom: 62px;
}

.page__about__text .default__text {
    font-size: 17px;
    line-height: 1.18;
}

.page__about__text__bottom {
    margin-top: 27px;
}

.page__about__contact__link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #aa8b62;
    text-transform: uppercase;
}

.page__about__contact__link svg {
    transition: 0.25s;
    margin-left: 12px;
}

.page__about__contact__link:hover {
    color: #aa8b62;
}

.page__about__contact__link:hover svg {
    transform: translate(5px, 0px);
}

.page__about__contact__link:hover {
    color: #8c6d44;
}

.page__about__contact__link:hover path {
    stroke: #8c6d44;
}

.page__about__contact__link path {
    transition: 0.25s;
}

.page__about__text__call {
    margin-top: 28px;
}

.page__about__count__item__value {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    margin-bottom: 12px;
}

.page__about__count__list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 143px;
}

.page__about__count__item {
    flex: 1;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 14px;
    max-width: 345px;
}

.page__about__count__item__text {
    font-size: 15px;
}

.page__about__team__top__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    margin-bottom: 18px;
}

.page__about__team__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.page__about__team__top__text {
    max-width: 610px;
    font-size: 17px;
    line-height: 1.15;
}

.page__about__team__top__addinfo {
    display: flex;
    align-items: center;
}

.team__list {
    margin: 0 -10px;
}

.team__item__inner {
    padding: 0 10px;
}

.team__item__image {
    font-size: 0;
    margin-bottom: 21px;
}

.team__item__name {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 9px;
    line-height: 107%;
}

.team__item__job {
    font-size: 15px;
}

.slider_info__number {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
    width: 70px;
}

span.slider_info__number__max {
    font-size: 24px;
}

.slider_info__number__current {
    font-size: 29px;
    color: #aa8b62;
}

.slider__arrow {
    background: transparent;
    border: none;
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    width: 45px;
}
.slick-arrow.slick-disabled {
    opacity: 0.35;
    pointer-events: none;
}

.slider_info__arrow {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 10px;
}

.slider__arrow path {
    transition: 0.25s;
}

.slider__arrow:hover path {
    fill: #aa8b62;
}

.page__about__main__text__top__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    margin-bottom: 16px;
}

.page__about__main__text__top {
    max-width: 700px;
    margin-bottom: 58px;
}

.page__about__main__text__top__addtitle {
    font-size: 17px;
}

.page__about__team {
    margin-bottom: 144px;
    width: 100%;
    position: relative;
}

.page__about__main__text__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page__about__main__text__image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.page__about__main__text__list {
    border: 1px solid #EBEBEB;
    padding: 30px 34px;
    font-size: 15px;
    max-width: 680px;
    flex: 1;
    margin-right: 30px;
}

.page__about__main__text__list ul {
    list-style: none;
}

.page__about__main__text__list li {
    position: relative;
    padding-left: 29px;
    margin-bottom: 23px;
}

.page__about__main__text__list li:before {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2L5.00002 9L2 5.99999' stroke='%23AA8B62' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    left: 0px;
    top: 4px;
}

.page__about__main__text__list li:last-child {
    margin-bottom: 0;
}

.page__about__main__text__image {
    flex: 1;
    max-width: 710px;
    font-size: 0;
}

.page__about__team__top__info {
    flex: 1;
    margin-right: 20px;
}

.slider__developer__item__image {
    width: 52.77%;
    position: relative;
}

.slider__developer__item__logo {
    width: 91px;
    margin-bottom: 13px;
}

.slider__developer__item__inner {
    display: flex;
}

.slider__developer__item__info {
    width: calc(45.73% - 50px);
    padding: 0;
    margin-top: -2px;
    position: relative;
    padding-bottom: 70px;
    border-bottom: 1px solid #EBEBEB;
    margin-left: 50px;
}

.page__about__main__text {
    margin-bottom: 140px;
}

.page_about__developer__top__title {
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    margin-bottom: 17px;
}

.page_about__developer__top__text {
    font-size: 17px;
    max-width: 760px;
    line-height: 1.25;
}

.page_about__developer__top {
    margin-bottom: 27px;
    padding-right: 250px;
}

.page_about__developer {
    position: relative;
    margin-bottom: 82px;
}

.slider__developer__item__title a {
    border-bottom: 1px solid #AA8B62;
    color: inherit;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 0px;
    display: inline-block;
}

.slider__developer__item__title {
    margin-bottom: 10px;
}

.slider__developer__item__text {
    max-width: 390px;
    font-size: 15px;
    line-height: 1.35;
    margin-bottom: 30px;
}

.slider__developer__item__price {
    font-size: 17px;
}

.slider__developer__item__addinfo ul {
    list-style: none;
}

.slider__developer__item__addinfo {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 6px;
    font-size: 12px;
}

.slider__developer__item__addinfo svg {
    margin-right: 9px;
}

.slider__developer__item__addinfo li {
    margin-bottom: 16px;
}

.slider__developer__item__addinfo li:last-child {
    margin-bottom: 0;
}

.slider__developer__item__more {
    position: absolute;
    bottom: 30px;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #AA8B62;
}

.slider__developer__item__more svg {
    margin-left: 7px;
    transition: 0.25s;
}

.slider__developer__item__more:hover {
    color: #8c6d44;
}

.slider__developer__item__more:hover svg {
    transform: translate(5px,0);
}
.slider__developer__item__more path {
    transition: 0.25s;
}
.slider__developer__item__more:hover path {
    stroke:#8c6d44;
}

.slider__developer__item__title a:hover {
    color: #aa8b62;
}

.slider__developer__item__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.slider__developer__item__image:hover:before {
    opacity: 0;
}

.slider__developer__item__image:hover img {
    transform: scale(1.05);
}

.slider__developer__item__image {
    overflow: hidden;
}

.slider__developer__item__image__inner {
    padding-top: 64.35%;
}

.page_about__developer__addinfo {
    position: absolute;
    top: 92px;
    right: 0;
    display: flex;
    align-items: center;
}

.page_about__developer__slider__nav {
    margin: 35px -25px 0;
}

.page_about__developer__slider__nav__item {
    width: 90px;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

.slider__developer__item.slick-slide {
    opacity: 0;
    transition: 0.35s ease-in-out;
    margin: 0 35px;
}


.slider__developer__item.slick-current+.slider__developer__item,
.slider__developer__item.slick-current {
    opacity: 1;
}


.page_about__developer__slider .slick-list {
    overflow: visible;
}

.page_about__developer__slider {
    margin: 0 -35px;
}

.page_about__developer__slider__nav__item {
    opacity: .7;
    filter: grayscale(1);
    transition: .25s ease-in-out;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
}

.page_about__developer__slider__nav__item:hover {
    opacity: 1;
    filter: none;
    border-color: #aa8b62;
}


.page_about__developer__slider__nav::-webkit-scrollbar {
    display: none
}

.page_about__developer__slider__nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-x: scroll;
    font-size: 0;
}

.page_about__developer__slider__nav__item.active {
    opacity: 1;
    filter: none;
    border-color: #aa8b62;
}

@media screen and (max-width: 1000px) {

    .page_about__developer__top {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 800px) {

    .page__about__main__text__row {
        flex-direction: column;
    }

    .page__about__main__text__list {
        margin: 0 0 24px;
        max-width: 100%;
        flex: none;
        width: 100%;
        padding: 20px;
        font-size: 14px;
    }

    .page__about__main__text__image {
        max-width: 100%;
    }

    .page__about__main__text__list li:before {
        top: 3px;
    }

    .page__about__main__text__list li {
        margin-bottom: 17.5px;
    }

    .page__about__main__text__top__title {
        font-size: 29px;
        margin-bottom: 18px;
    }

    .page__about__main__text__top {
        max-width: 500px;
        margin-bottom: 50px;
    }

    .page__about__main__text__top__addtitle {
        font-size: 15px;
        max-width: 300px;
    }

    .page__about__text .default__text {
        font-size: 15px;
    }

    .page__about__text__bottom {
        margin-top: 49px;
    }

    .page__about__contact__link {
        font-size: 15px;
    }

    .page__about__text__call {
        margin-top: 22px;
    }

    .page__about__count__item {
        flex-basis: calc(50% - 10px);
    }

    .page__about__count__list {
        flex-wrap: wrap;
        margin-bottom: 100px;
    }


    .page__about__team__top__title {
        font-size: 29px;
        margin-bottom: 22px;
    }

    .page__about__team__top__text {
        font-size: 15px;
    }

    .page_about__developer__top__title {
        font-size: 29px;
        margin-bottom: 22px;
    }

    .page_about__developer__top__text {
        font-size: 15px;
        max-width: 500px;
    }

    .slider__developer__item__inner {
        flex-direction: column;
    }

    .slider__developer__item__image {
        width: 100%;
        margin-bottom: 30px;
    }

    .slider__developer__item__image__inner {
        padding: 0;
        height: 350px;
    }

    .slider__developer__item__info {
        width: 100%;
        margin: 0;
        padding-bottom: 12px;
    }

    .slider__developer__item__addinfo {
        margin: 25px 0 30px;
    }

    .slider__developer__item__addinfo li {
        margin-bottom: 12px;
    }

    .slider__developer__item__text {
        font-size: 14px;
        max-width: 600px;
        margin-bottom: 25px;
    }

    .slider__developer__item__title a {
        font-size: 18px;
    }

    .slider__developer__item__price {
        font-size: 15px;
    }

    .slider__developer__item__more {
        position: static;
    }
    .page__about__team__top__addinfo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: center;
    }

    .page__about__team__top__addinfo .slider_info__arrow {
        position: absolute;
    }

    .page__about__team__top__addinfo .slider_info__arrow>:first-child {
        left: -80px;
    }

    .page__about__team__top__addinfo .slider_info__arrow>* {
        position: absolute;
    }

    .page__about__team__top__addinfo .slider_info__arrow>:last-child {
        right: -110px;
    }

    .page__about__team__top__info {
        margin-right: 0;
    }
    .page_about__developer__top {
        margin-bottom: 35px;
    }
    .page__about__team {
        position: relative;
        padding-bottom: 75px;
        margin-bottom: 100px;
    }

    .page_about__developer__addinfo {
        position: relative;
        justify-content: center;
        top: auto;
        right: auto;
    }

    .page_about__developer__addinfo .slider_info__arrow {
        position: absolute;
        margin: 0;
    }

    .page_about__developer__addinfo .slider_info__arrow>:first-child {
        left: -110px;
    }

    .page_about__developer__addinfo .slider_info__arrow>:last-child {
        right: -110px;
    }

    .page_about__developer__addinfo .slider_info__arrow .slider__arrow {
        position: absolute;
    }

    .page_about__developer {
        margin-bottom: 30px;
    }




    .page_about__developer {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .page_about__developer__slider {
        order: 2;
    }

    .page_about__developer__addinfo {
        order: 2;
        margin-top: 25px;
    }

    .page_about__developer__slider__nav {
        margin: 0 -15px 25px;
    }

    .page_about__developer__slider__nav__item {
        width: 70px;
        margin: 0 15px;
        padding: 5px;
    }

}



@media screen and (max-width: 700px) {

    .page_about__developer__slider__nav__item{border: none;}
    .page_about__developer__slider__nav__item:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #AA8B62;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.25s
    }
    .page_about__developer__slider__nav__item.active:after {opacity: 1;}

    .page_about__developer__top {
        padding-right: 0;
    }

}

@media screen and (max-width: 500px) {
    .slider__developer__item__image__inner {
        height: 235px;
    }

    .page__about__main__text__image {
        display: none;
    }

    .page__about__main__text__list {
        margin-bottom: 0;
    }

    .team__item {
        width: 282px;
        padding: 0 15px;
    }

    .team__item__inner {
        padding: 0;
    }

    .team__list {
        margin: 0 -16px;
    }

    .page__about__text {
        margin-bottom: 52px;
    }

    .page__about__count__item {
        flex: none;
        width: 100%;
        margin-bottom: 13px;
    }

    .page__about__count__item:last-child {
        margin-bottom: 0;
    }
}