.title_x--appartament {
    max-width: 600px;
    margin: 0 auto 60px;
}

.slider__appartament_page {
    margin-bottom: 60px;
}

.page_area__appartament--ap_page {
    margin-bottom: 100px;
}

.appartment__text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 145px;
}

.appartment__text_col_1 {
    max-width: 725px;
    width: 100%;
    margin-right: 40px;
}

.appartment__text_col_2 {
    width: calc(100% - 765px);
    margin-top: -5px;
}

.appartment__text__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 31px;
    margin-bottom: 26px;
}

.appartment__text__char ul {
    list-style: none;
    font-weight: 300;
    font-size: 15px;
}

.appartment__text__char li:before {
    width: 7px;
    height: 7px;
    position: absolute;
    content: '';
    border-radius: 50%;
    background: #000;
    left: 3px;
    top: 7px;
}

.appartment__text__char li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 11px;
}

.appartment__text__char li:last-child {
    margin-bottom: 0;
}

.appartment__text__char {
    margin-bottom: 29px;
}

.appartment__text__def_text {
    max-width: 490px;
    font-size: 17px;
    line-height: 1.2;
}

.appartment__text__def_text>* {
    margin-bottom: 20px;
}

.appartment__text__def_text>*:last-child {
    margin-bottom: 0;
}

.appartment__text_price:before {
    content: '';
    position: absolute;
    left: 0;
    width: 45px;
    height: 0.5px;
    background: #949494;
    top: 13px;
}

.appartment__text_price {
    position: relative;
    padding-left: 55px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 7px;
}

.appartment__text_size {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.2;
    color: #949494;
    position: relative;
    padding-left: 16px;
    margin-bottom: 34px;
}

.appartment__text_size:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 5px;
    height: 0.5px;
    background: #949494;
}

.appartment__text_add li svg {
    margin-right: 10px;
}

.appartment__text_add {
    font-size: 12px;
}

.appartment__text_add li {
    margin-bottom: 21px;
    display: flex;
    align-items: flex-start;
}

.appartment__text_add ul {
    list-style: none;
}

.appartment__text_add li:last-child {
    margin-bottom: 0;
}

.layout__block__item {
    display: none;
}

.layout__block__item.active {
    display: block;
}

.layout__block__tab a {
    border: 1px solid #EBEBEB;
    color: inherit;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    margin: 0 5px;
    padding: 7px 11px;
    display: inline-block;
}

.layout__block__tab {
    display: block;
    white-space: nowrap;
    font-size: 0;
    margin: 0 -15px 18px;
    padding: 0 10px;
    overflow: scroll;
}


.layout__block__tab::-webkit-scrollbar {
    display: none;
}

.layout__block__tab {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.layout__block__x {
    margin-top: 31px;
}

.layout__block__tab a.active {
    background: #231F20;
    color: #fff;
    border-color: #231F20;
    cursor: default;
}

.layout__block__tab a:hover {
    background: #231F20;
    color: #fff;
    border-color: #231F20;
}

.layout__block__item__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.layout__block__item__image {
    width: calc(50% - 10px);
    font-size: 0;
    padding-top: 3px;
}

.layout__block__item__info {
    width: calc(50% - 10px);
    padding-left: 30px;
}

.layout__block__item__info__price {
    position: relative;
    padding-left: 61px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 7px;
}

.layout__block__item__info__price:before {
    content: '';
    position: absolute;
    left: 0;
    width: 45px;
    height: 0.5px;
    background: #949494;
    top: 13px;
}

.layout__block__item__info__size_price {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.2;
    color: #949494;
    position: relative;
    padding-left: 20px;
    margin-bottom: 30px;
}

.layout__block__item__info__size_price:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 5px;
    height: 0.5px;
    background: #949494;
}

.layout__block__item__info__size {
    font-size: 15px;
    line-height: 135%;
    position: relative;
    padding-left: 23px;
    margin-bottom: 30px;
}

.layout__block__item__info__size:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #231F20;
    position: absolute;
    left: 3px;
    top: 7px;
}

.layout__block__item__info__text {
    font-size: 17px;
    line-height: 1.2;
    max-width: 480px;
    margin-bottom: 30px;
}

.layout__block__item__info__text p {
    margin-bottom: 20px;
}

.layout__block__item__info__text p:last-child {
    margin-bottom: 0;
}

.layout__block {
    margin-bottom: 145px;
}

.appartment__video__block__text {
    max-width: 560px;
    font-size: 17px;
    margin-top: -5px;
    line-height: 1.2;
}

.appartment__video__block__top {
    position: relative;
    padding-right: 270px;
    margin-bottom: 58px;
}

.appartment__video__block__more {
    position: absolute;
    right: 0;
    top: 53px;
}

.slide__video__play {
    position: absolute;
    z-index: 14;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    left: 0;
    margin: auto;
    max-width: 240px;
    text-align: center;
    transition: 0.25s;
}

.appartment__video__block {
    margin-bottom: 140px;
}

.slider_video a {
    color: #fff;
    font-size: 12px;
}

.slide__video__play__icon {
    font-size: 0;
    margin-bottom: 15px;
}

.slide__video__play__text {
    line-height: 1.2;
}

.slide__video__play:hover {
    transform: scale(1.05) translate(0, -50%);
    opacity: 0.9;
}

.appartment__text__def_text--mobile {
    display: none;
}


.slider_video .slider_type_1__slide__inner:before {
    background: linear-gradient(190.54deg, rgba(35, 31, 32, 0) -26.09%, #231F20 92.16%);
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1;
    content: '';
    transition: 0.25s;
}

.slider_video .slider_type_1__slide__inner:hover:before {
    opacity: 0.7;
}

@media screen and (max-width: 1100px) {
    .appartment__text_col_1 {
        max-width: 450px;
    }

    .appartment__text_col_2 {
        margin: 0;
        width: auto;
        flex: 1;
    }
}

@media screen and (max-width: 700px) {
    .appartment__text_col_1 {
        max-width: 100%;
        width: 100%;
        margin-bottom: 25px;
    }

    .appartment__text_col_1 .appartment__text__def_text {
        display: none;
    }

    .appartment__text__char {
        margin: 0;
    }

    .appartment__text_col_2 {
        flex: none;
        width: 100%;
    }

    .appartment__text_price {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .appartment__text_size {
        font-size: 15px;
        margin-bottom: 22px;
    }

    .appartment__text_add li {
        margin-bottom: 15px;
    }

    .appartment__text {
        margin-bottom: 100px;
    }

    .appartment__text_add {
        margin-bottom: 27.5px;
    }

    .appartment__text__def_text.appartment__text__def_text--mobile {
        font-size: 15px;
        display: block;
        line-height: 1.4;
    }

    .appartment__text__char li:before {
        top: 6px;
    }

    .appartment__video__block__more {
        position: static;
        margin-top: 30px;
        width: 100%;
        justify-content: center;
        max-width: 350px;
    }

    .appartment__video__block__text {
        font-size: 15px;
        line-height: 1.4;
        max-width: 400px;
    }

    .appartment__video__block__top {
        margin-bottom: 35px;
        padding-right: 0;
    }

    .appartment__video__block__top .title_x {
        font-size: 29px;
    }

    .appartment__video__block {
        margin-bottom: 100px;
    }

    .layout__block__item__info__price {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .layout__block__item__info__size_price {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .layout__block__item__info__size {
        font-size: 14px;
    }

    .layout__block__item__info__text {
        font-size: 15px;
        line-height: 1.4;
    }

    .layout__block__item__inner {
        flex-direction: column;
        gap: 40px;
    }

    .layout__block__item__image {
        width: 100%;
    }

    .layout__block__item__info {
        width: 100%;
        padding: 0;
    }

    .layout__block {
        margin-bottom: 100px;
    }
}