.page__content--area__text {
    max-width: 747px;
    font-size: 17px;
    margin-top: -4px;
    margin-right: 500px;
}

.page__content--area__text>* {
    line-height: 1.25;
}

.page__content--area__text>* p {
    margin-bottom: 9px;
}

.page__area__top {
    position: relative;
    margin-bottom: 58px;
}

.page__area__top__slider__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    transform: translate(0, 5px);
    display: flex;
    flex-direction: column;
    background: #ffffff;
    /* Line */
    border: 1px solid #EBEBEB;
    width: 100%;
    z-index: 5;
}

.page__area__top__slider__view {
    position: relative;
    border: 1px solid #AA8B62;
    padding: 12.5px 30px;
    transition: 0.25s;
    display: flex;
    align-items: center;
    color: #AA8B62;
    padding-right: 75px;
}

.page__area__top__slider {
    position: absolute;
    right: 0;
    bottom: 2.5px;
    width: 100%;
    max-width: 413px;
    cursor: pointer;
    z-index: 5;
}

.page__area__top__slider__view__text {
    text-transform: uppercase;
    text-overflow: ellipsis;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.035em;
    font-size: 15px;
    font-weight: 700;
    color: inherit;
    transition: 0.25s;
}

.page__area__top__slider__arrow {
    position: absolute;
    height: 100%;
    width: 73px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.page_area__image_map {
    margin: 0 -170px;
    font-size: 0;
    margin-bottom: 145px;
    position: relative;
}

.page__area__top__slider.active .page__area__top__slider__list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.page__area__top__slider__list a {
    padding: 10px 30px;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

.page__area__top__slider.active .page__area__top__slider__view {
    background: #aa8b62;
    color: #fff;
}

.page__area__top__slider.active .page__area__top__slider__view__text {
    color: #fff;
}

.page__area__top__slider__arrow path {
    transition: 0.25s;
}

.page__area__top__slider.active .page__area__top__slider__arrow path {
    stroke: #fff !important;
}

.page__area__top__slider.active .page__area__top__slider__arrow {
    transform: rotate(180deg);
}

.page__area__top__slider__list a:hover {
    background: #F8F8F8;
}

.title_2 {
    font-family: "Wremena Light";
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 97%;
    margin: 0 0 20px;
}

.page_area__appartament__text {
    font-size: 17px;
    max-width: 500px;
    margin-bottom: 55px;
}

.page_area__appartament__text>* {
    line-height: 1.2;
}

.page_area__appartament {
    position: relative;
}

.btn__area__appartament {
    position: absolute;
    top: 53px;
    right: 0;
    padding: 13px 34px;
}

.btn__area__appartament svg {
    margin-top: -1px;
}

.page__area__top__slider__view:hover {
    border-color: #8c6d44;
    color: #8c6d44;
}

.page__area__top__slider__view:hover .page__area__top__slider__arrow path {
    stroke: #8c6d44;
}

.area__appartament__list {
    display: flex;
    gap: 50px;
}

.appartament_card__image__inner {
    padding-top: 51.7%;
    position: relative;
    width: 100%;
}

.appartament_card__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.appartament_card__image {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.appartament_card {
    flex: 1;
}

.appartament_card__image:before {
    content: '';
    background: #000;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    right: 0;
    transition: 0.25s;
}

.appartament_card__info {
    padding: 19px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: space-between;
}

.appartament_card__title {
    width: calc(50% - 20px);
}

.appartament_card__char__list {
    width: 50%;
    display: flex;
    gap: 5.5px;
    justify-content: flex-end;
    padding-top: 1px;
}

.appartament_card__title a {
    font-weight: 400;
    font-size: 20px;
    color: inherit;
}
.appartament_card__title a {
    text-decoration: none;
    position: relative;
}

.appartament_card__title a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    background: #AA8B62;
}


.appartament_card__price {
    font-weight: 300;
    font-size: 17px;
    width: 50%;
}

.appartament_card__location {
    display: flex;
    gap: 16px;
    align-items: center;
}

.appartament_card__location__item {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.appartament_card__location__item svg {
    margin-right: 10px;
}

.contact__page__form--area {
    margin-top: 62px;
}

.appartament_card__image:hover:before {
    opacity: 0;
}

.appartament_card__image:hover img {
    transform: scale(1.05);
}

.appartament_card__title a:hover {
    color: #aa8b62;
}

.contact__page__form.contact__page__form--area {
    margin-bottom: 120px;
}

.page_area__advantage {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2.25%;
    margin-bottom: 137px;
}

.page_area__advantage__col--1 {
    width: 45%;
}

.page_area__advantage__col--2 {
    width: 52.75%;
}

.page_area__advantage__text {
    max-width: 500px;
    font-size: 17px;
    margin-bottom: 59px;
}

.page_area__advantage__text>* {
    line-height: 1.2;
}

.page_area__advantage__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 29px 24px;
}

.page_area__advantage__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 1.15;
    margin-bottom: 25px;
    max-width: 400px;
}

.page_area__advantage__item {
    width: calc(100% / 3 - 16px);
}

.page_area__advantage__item__title {
    font-size: 15px;
}

.page_area__advantage__item__icon {
    font-size: 0;
    margin-bottom: 10px;
}

.page_area__developer {
    margin-bottom: 135px;
    position: relative;
}

.slider_type_1__area_add_info__title {
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
}

.slider_type_1__area_add_info {
    position: absolute;
    top: 63px;
    left: 60px;
    z-index: 5;
    bottom: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.slider_type_1__area_add_info__bottom__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 135%;
}

.slider_type_1__area_add_info__bottom {
    max-width: 920px;
    margin-top: 50px;
    padding-right: 250px;
}

.slider_type_1__area_add_info__bottom__title {
    margin-bottom: 18px;
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 107%;
}

.slider__area_add .slider_type_1__slide__inner {
    min-height: 450px;
}


@media screen and (max-width: 1800px) {
    .page_area__image_map {
        width: calc(100vw);
        margin: 0 calc(-1 *(100vw - 1440px) /2) 145px;
    }

    .image__appartment__block__inner img {
        width: 100%;
    }
}

@media screen and (max-width: 1480px) {
    .page_area__image_map {
        width: calc(100vw);
        margin: 0 -20px 100px;
    }
}

@media screen and (max-width: 1100px) {
    .page__area__top__slider {
        max-width: 350px;
    }

    .page__content--area__text {
        margin-right: 0;
    }

    .page__area__top__slider {
        position: relative;
        margin-top: 50px;
    }

    .page__area__top {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 1000px) {
    .appartament_card {
        flex: none;
        width: 100%;
    }

    .area__appartament__list {
        flex-wrap: wrap;
    }

    .page_area__advantage {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .page_area__advantage__col--1 {
        width: 100%;
    }

    .page_area__advantage__col--2 {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 850px) {
    .btn__area__appartament {
        position: static;
        width: 100%;
        justify-content: center;
        max-width: 450px;
        margin: 30px auto 0;
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    .page_area__developer {
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }

    .page_about__developer__slider__nav {
        order: 0;
    }
}


@media screen and (max-width: 750px) {

    .slider_type_1__area_add_info__title {
        font-size: 29px;
    }

    .slider_type_1__area_add_info {
        top: 20px;
        left: 16px;
        right: 16px;
        bottom: 20px;
    }

    .slider__area_add {
        margin-bottom: 100px;
    }

    .slider__area_add .slider_type_1__slide__inner {
        min-height: 600px;
    }

    .slider_type_1__area_add_info__bottom {
        padding: 0;
    }

    .slider_type_1__area_add_info__bottom__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .slider_type_1__area_add_info__bottom__text {
        font-size: 14px;
    }


    .title_2 {
        font-size: 29px;
        margin-bottom: 18px;
    }

    .page_area__appartament__text {
        font-size: 15px;
        margin-bottom: 50px;
    }

    .appartament_card__title {
        width: 100%;
    }

    .appartament_card__char__list {
        width: 100%;
        justify-content: flex-start;
        gap: 10px;
        font-size: 14px;
    }

    .appartament_card__price {
        width: 100%;
        font-size: 15px;
    }

    .appartament_card__location {
        width: 100%;
    }

    .appartament_card__info {
        gap: 15px;
    }

    .area__appartament__list {
        gap: 24px;
    }

    .appartament_card__title a {
        font-size: 18px;
    }

    .appartament_card__location__item {
        font-size: 11px;
    }

    .contact__page__form.contact__page__form--area {
        margin-top: 0;
        margin-bottom: 60px;
    }
}


@media screen and (max-width: 550px) {
    .page_area__image_map{    margin: 0 -16px 100px;}
    .page__content--area__text {
        font-size: 15px;
    }

    .page_area__advantage__title {
        font-size: 23px;
        max-width: 300px;
    }

    .page_area__advantage__item__title {
        font-size: 14px;
        max-width: 130px;
        line-height: 1.35;
    }

    .page_area__advantage__item {
        width: calc(100% / 2 - 12px);
    }

    .page_area__advantage__list {
        gap: 25px 24px;
        padding-bottom: 0;
    }

    .page_area__advantage {
        margin-bottom: 85px;
    }
}