.page__content--search__text {
    font-size: 17px;
    max-width: 690px;
}

.filter__block__price__modal {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -5px);
    transition: .25s ease;
    top: calc(100% + 0.5px);
    border: 1px solid #e3e2e3;
    left: -1px;
    background: #fff;
}


.filter__block__price__view {
    width: 100%;
    padding: 14px 29px;
    height: 100%;
    position: relative;
    padding-right: 50px;
    cursor: pointer;
}

.filter__block__price {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border: 1px solid #ebebeb;
}

.btn__filter__search {
    background: #AA8B62;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    padding: 19px 30px;
}

.btn__filter__search:hover {
    background: #8c6d44;
}


.select2.select2-container {
    width: 100% !important;
    display: flex;
    height: 100%;
    font-size: 15px;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #ebebeb;
    border-right-color: transparent;
}

span.selection {
    display: flex;
    width: 100%;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    transition: 0.25s;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: inherit;
}





.develop__filter {
    display: flex;
    flex-wrap: wrap;
}

.develop__filter__field {
    flex: 1 0 25%;
}

.develop__filter__wrap {
    margin-top: 25px;
    margin-bottom: 60px;
}

.develop__filter__field--price {
    width: 222px;
    flex: none;
}

.develop__filter__map__hide {
    position: absolute;
    opacity: 0;
    transition: 0.25s;
    pointer-events: none;
}


.develop__filter__map>* {
    display: flex;
    align-items: center;
}

.develop__filter__map__show {
    transition: 0.25s;
}

.develop__filter__map.active .develop__filter__map__show {
    opacity: 0;
}

.develop__filter__map.active .develop__filter__map__hide {
    opacity: 1;
    pointer-events: all;
}

.develop__filter__map__hide {
    color: #aa8b62;
}



.develop__filter__map {
    max-width: 400px;
    margin: 0 auto;
    align-self: center;
    display: flex;
    margin-top: 30px;
    border: none;
    align-items: center;
    background: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #949494;
    justify-content: center;
}


.develop__filter__field--search {
    flex: none;
    border: none;
}

.develop__filter__field+.develop__filter__field {
    margin-left: -1px;
}

.develop__filter__map svg {
    margin-top: -2px;
    margin-right: 12px;
}



.archive__top__info__count {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.archive__top__info {
    display: flex;
    flex-wrap: wrap;
}

.archive__top__info__count__row {
    width: 100%;
}

.archive__top__info__order__list {
    position: absolute;
    opacity: 0;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgb(35 31 32 / 10%);
    padding: 20px;
    top: 100%;
    z-index: 5;
    right: 0;
    width: 200px;
    transform: translate(0, 5px);
    transition: 0.25s;
    visibility: hidden;
}

.archive__top__info__order.active .archive__top__info__order__list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0px);
}

.archive__top__info__order__list ul {
    list-style: none;
}

.archive__top__info__order__list a {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

.archive__top__info__order__list li {
    margin-bottom: 10px;
}

.archive__top__info__order__list li:last-child {
    margin-bottom: 0;
}

.archive__top__info__order__list a:hover {
    color: #aa8b62;
}

.archive__show__count__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.archive__show__count__list a {
    background: #F8F8F8;
    padding-top: 1px;
}

.archive__show__count {
    display: flex;
    align-items: center;
    width: 280px;
}

.archive__show__count--top {
    margin-left: 15px;
}

.archive__show__count--bottom {
    margin-top: 8px;
}

.archive__top__info__order__view__text {
    margin-right: 11px;
}

.archive__top__info__order {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    align-items: center;
    position: relative;
}

.archive__top__info__order__view {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #AA8B62;
    padding-right: 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
}


.active.filter__block__price .filter__block__price__view:after {
    transform: rotate(180deg);
    filter: none;
}

.filter__block__price__view:after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%23AA8B62' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    position: absolute;
    width: 16px;
    height: 16px;
    background-position: 50%;
    background-repeat: no-repeat;
    content: '';
    right: 30px;
    top: calc(50% - 8px);
    transition: 0.25s;
    filter: grayscale(1);
    transition: 0.25s;
}


.filter__block__price__view__inner {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.filter__block__price.active .filter__block__price__modal {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.filter__block__price__inner {
    display: flex;
}

.filter__block__price__inner__col {
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.filter__block__price__inner__col__currency {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #AA8B62;
}

.filter__block__price__inner__col input {
    margin: 0 10px;
    width: 96px;
    border: none;
    background: transparent;
    border-radius: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
}

.filter__block__price__inner__col__text {
    color: #949494;
    font-size: 15px;
    font-weight: 300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.develop__filter__field--area {
    border-right: 1px solid #e4e3e4;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    width: 52px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%23AA8B62' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    filter: grayscale(1);
    transition: 0.25s;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--open.select2-container--default .select2-selection--single .select2-selection__arrow {
    filter: none;
    transform: rotate(180deg)
}

.archive__top__info__order__view svg {
    margin-left: 11px;
    transition: 0.25s;
}

.develop__search__top {
    margin-bottom: 26px;
}

.archive__develop__list .slider__developer__item {
    margin-bottom: 47px;
}

.archive__develop__list .slider__developer__item:last-child {
    margin-bottom: 0;
}

.develop__search__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
}

.archive__pagintaion ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 7px
}

.archive__show__count__text {
    font-size: 15px;
    margin-right: 8px;
}

.archive__show__count__list a {
    background: #F8F8F8;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.archive__show__count__list a.active {
    background: #AA8B62;
    color: #fff;
}

.archive__pagintaion {
    width: 280px;
    display: flex;
    justify-content: flex-end;
}

.archive__load__more {
    text-align: center;
}

.archive__load__more__text {
    font-size: 12px;
    margin-top: 17px;
    color: #949494;
}

.contact__page__form--archive {
    margin-top: 83px;
}


.archive__develop__list .slider__developer__item__image:before {
    background: rgba(35, 31, 32, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    content: '';
    transition: 0.25s;
}

.develop__filter__map__show:hover {
    color: #AA8B62;
}

.develop__filter__map__show:hover path {
    stroke: #AA8B62;
}

.develop__filter__map,
.develop__filter__map path {
    transition: 0.25s;
}

.archive__show__count__list a:hover {
    color: #fff;
    background: #aa8b62;
}

.archive__top__info__order__view:hover {
    color: #8C6D44;
}

.archive__top__info__order__view path {
    transition: 0.25s
}

.archive__top__info__order__view:hover path {
    stroke: #8C6D44;
}

.filter__block__price:hover {
    color: #aa8b62;
    z-index: 1;
}

.filter__block__price {
    transition: 0.25s;
}

.filter__block__price:hover .filter__block__price__view:after {
    filter: none
}

.select2-results__option {
    font-size: 15px;
    font-weight: 300;
    padding: 10px 30px;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
}

.select2-dropdown {
    border-radius: 0 !important;
    border: 1px solid #ebebeb;
}

.select2-container--open .select2-dropdown--below {

    border-top: none !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #aa8b62;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
   position: absolute;
    right: 36px;
    top: 10.5px;
    margin: 0;
    font-weight: 300;
    color: #aa8b62;
    height: auto;
    z-index: 4;
    width: 32px;
    height: 32px;
    z-index: 1;
}


.select2-container--default .select2-selection--single {
    transition: 0.25s
}

.select2-container--default .select2-selection--single:hover .select2-selection__arrow {
    filter: none
}

.select2-container--default .select2-selection--single:hover .select2-selection__rendered {
    color: #aa8b62;
}

.archive__pagintaion a {
    background: #F8F8F8;
    color: inherit;
    text-decoration: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.archive__pagintaion a:hover {
    background: #231F20;
    color: #fff;
}

.archive__pagintaion a:hover path {
    stroke: #fff;
}

.pagination__arrow--disabled {
    opacity: 0.5;
    pointer-events: none;
}

a.pagination__arrow--prev,
a.pagination__arrow--next {
    background: transparent;
}

.archive__top__info__order.active .archive__top__info__order__view svg {
    transform: rotate(180deg);
}


.select2-container--default .select2-results__option--selected {
    background: #f0f0f0;
}

.filter__field__rooms__item {
    display: flex;
    position: relative;
}

.filter__field__rooms__list {
    display: flex;
    align-items: center;
    gap: 2.25px;
    margin-top: -2px;
}

.filter__field__rooms__inner {
    display: flex;
    align-items: center;
    padding: 16px 30px 13px;
    font-size: 15px;
    border: 1px solid #ebebeb;
    border-right: 0;
}

.filter__field__rooms__item input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.filter__field__rooms__view {
    background: #F8F8F8;
    padding: 2px 0 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.filter__field__rooms__title {
    margin-right: 10px;
    opacity: 0.5;
}



.develop__filter__field--rooms {
    flex: none;
    width: 224px;
}

.filter__field__rooms__item input:checked+.filter__field__rooms__view {
    background: #aa8b62;
    color: #fff;
}

.develop__filter__field--price_appartament {
    width: 151px;
}

.fiter__map.show .map__filter {
    height: 600px;
    opacity: 1;
}

.map__filter {
    height: 0;
    transition: 0.25s ease-in-out;
    opacity: 0;
}


.fiter__map.show {
    margin-bottom: 50px;
}

.develop__filter__map__hide:hover {
    color: #8c6d44;
}

.develop__filter__map__hide:hover path {
    stroke: #8c6d44;
}


@media screen and (max-width: 900px) {
    .select2-container--default .select2-selection--single .select2-selection__clear {
    top: 12.5px;
}
    .filter__block__price__view:after{    right: 20px;}
    .select2-container .select2-selection--single .select2-selection__rendered {
        min-height: 55px;
    }

    .develop__filter {
        flex-wrap: wrap;
    }

    .develop__filter__field {
        width: 50%;
        flex: none;
    }

    .btn__filter__search {
        width: 100%;
    }

    .page__content--search .title_x--small_2 {
        font-size: 29px;
        margin-bottom: 30px;
    }

    .archive__show__count--bottom {
        width: 100%;
    }

    .develop__search__bottom {
        flex-wrap: wrap;
    }
    .filter__block__price__view:after {
        right: 18.5px;
    }

    .filter__field--medium_border_right_none {
        border-bottom: none;
    }

    .develop__filter__field+.develop__filter__field {
        margin-left: 0;
    }


    .filter__block__price {
        border-bottom: none;
    }

    .filter__field--border_right_none {
        border-right: none;
    }

}

@media screen and (max-width: 750px) {
    .select2-container--default .select2-selection--single .select2-selection__clear {
    top: 14px;
}
    .page__content--search__text {
        font-size: 15px;
    }

    .develop__filter__wrap {
        margin-top: 60px;
    }

    .develop__filter__field {
        width: 100%;
    }

    .develop__filter__field+.develop__filter__field {
        margin: -1px 0 0;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 15px 30px;
    }

    .archive__top__info__order__view {
        font-size: inherit;
    }

    .archive__top__info__order {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .archive__top__info__count {
        font-size: 18px;
    }

    .archive__top__info {
        flex-direction: column;
    }

    .develop__search__top {
        margin-bottom: 30px;
    }

    .develop__search__bottom {
        flex-direction: column;
    }

    .archive__show__count__list a {
        width: 36px;
        height: 36px;
    }

    .archive__load__more {
        width: 100%;
    }

    .btn__archive__load__more {
        width: 100%;
        justify-content: center;
    }

    .archive__pagintaion {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .contact__page__form--archive {
        margin-top: 0;
    }
    .filter__field--medium_border_right_none{border-right:1px solid #ebebeb}
}



@media screen and (max-width: 550px) {
    .filter__block__price__modal {
        right: -1px;
        border: 1px solid #aa8b62;
    }

    .filter__block__price__inner__col input {
        flex: 1;
        background: rgb(228 227 228 / 50%);
        padding: 10px 15px;
    }

    .filter__block__price__inner {
        flex-direction: column;
    }

    .archive__top__info__order__list {
        left: 0;
        right: 0;
        width: auto;
    }

    .select2-dropdown {
        border-color: #aa8b62;
    }

    .filter__field__rooms__view {
        width: 36px;
        height: 36px;
    }

    .filter__field__rooms__list {
        gap: 10px;
    }

    .filter__block__price__view {
        padding: 24px 29px;
    }

    .filter__field__rooms__title {
        margin-right: 15px;
    }

    .filter__field__rooms__inner {
        border-right: 1px solid #ebebeb;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        min-height: 70px;
    }


}