.page__content--404 {
    padding-top: 60px;
}

.page__404_inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    min-height: 600px;
    align-items: center;
}

.page__404_inner__image {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.page__404_inner__info {
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1;
    max-width: 420px;
    color: #fff;
    padding: 35px 0;
}

.page__404_inner__title {
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    margin: 0;
    margin-bottom: 20px;
}

.page__404_inner__text {
    font-size: 17px;
    margin-bottom: 27px;
    line-height: 1.21;
}

.page__404_inner__back {
    letter-spacing: 0.035em;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    text-align: center;
    background: #231F20;
    width: auto;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.page__404_inner__back:hover {
    box-shadow: 0px 8px 16px rgb(35 31 32 / 25%);
}
.page__404_inner__back:active {
    box-shadow: none;
}
@media screen and (max-width: 1200px) {
    .page__404_inner {
        min-height: 400px;
    }
}

@media screen and (max-width: 800px) {
    .page__404_inner__image {
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);
        position: static;
        height: auto;
        max-width: initial;
    }

    .page__404_inner {
        min-height: 0;
        display: block;
        padding: 0;
    }

    .page__404_inner__info {
        color: inherit;
        margin: 0 auto;
        padding: 30px 0;
    }

    .page__404_inner__title {
        font-size: 29px;
    }

    .page__404_inner__text {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .page__404_inner__back {
        color: #fff;
        font-size: 14px;
    }
}