// font


@font-face {
    font-family: 'Wremena Light';
    src: url('../fonts/wremena.regular.oft') format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wremena Light';
    src: url('../fonts/wremena.light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}