.category__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    margin-top: 58px;
}

.category__item {
    margin: 0 25px;
    margin-bottom: 58px;
}

.category__item--3 {
    width: calc(100% / 3 - 50px);
}

.category__item__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 1.1;
    color: #231F20;

    text-decoration: none;
    margin-bottom: 17px;
    display: inline-flex;
}
.category__item__title__inner {
border-bottom: 1px solid #AA8B62;
}
.category__item__image {
    font-size: 0;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
}

.category__item__info__list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.category__item__info__list li {
    width: calc(50% - 10px);
    margin: 0 5px;
    margin-bottom: 12px;
}

.category__item__info__list a {
    font-weight: 300;
    font-size: 15px;
    line-height: 135%;
    color: #AA8B62;
    text-decoration: none;
}

.category__item__count {
    margin-left: 5px;
    font-size: 15px;
    line-height: 135%;
    color: #231F20;
    text-decoration: none;
}

.category__item__info__list {
    margin-bottom: -11px;
}

.category__item--2 {
    width: calc(100% / 2 - 50px);
}

.category__item__image img {
    transition: 0.25s;
}

.category__item__image:hover img {
    transform: scale(1.1);
}

.category__item__title:hover {
    color: #aa8b62;
    border-color: #aa8b62;
}

.category__item__info__list a:hover {
    text-decoration: underline;
}

.category__item__title.active:after {
    transform: rotate(180deg) translate(0,100%);
}

@media screen and (max-width: 1000px) {

    .category__item--3 {
        width: calc(50% - 50px);
    }
}

@media screen and (max-width: 900px) {
    .category__item--3 {
        width: 100%
    }

    .category__item--2 {
        width: 100%
    }

    .category__item__image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (max-width: 500px) {
    .category__list {
        margin: 60px 0 0;
    }

    .category__item {
        margin: 0 0 36px;
    }

    .category__item__image {
        display: none;
    }


    .category__item__title:after {
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5L5 5.5L1 1.5' stroke='%23231F20' stroke-linecap='square'/%3E%3C/svg%3E%0A");
        content: '';
        width: 10px;
        height: 10px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        transition: 0.25s;
        transform: translate(0, -100%);
    }

    .category__item__title {
        display: flex;
        margin: 0;
        padding-bottom: 12px;
        font-size: 23px;
        position: relative;
        padding-right: 20px;
    }

    .category__item__info__list {
        margin: 0;
        display: none;
        padding: 10px 0;
    }

    .category__item__info__list ul {
        display: flex;
    }

    .category__item__info__list li {
        width: 100%;
    }
}