.developer__page__info__col--1 {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    width: 100%;
    max-width: 675px;
}

.developer__page__info {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    margin-bottom: 60px;
}

.slider__developer_page {
    margin-bottom: 56px;
}

.developer__page__info__col .default__text {
    line-height: 1.07;
}

.developer__page__info__list {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 35px;
}

.developer__page__info__list ul {
    list-style: none;
}

.developer__page__info__list li {
    position: relative;
    padding-left: 59px;
    margin-bottom: 14.5px;
}

.developer__page__info__list li:before {
    width: 45px;
    height: 0.5px;
    background: #949494;
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
}

.developer__page__info__list li:last-child {
    margin-bottom: 0;
}

.developer__page__add_info {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 12px;
}

.developer__page__add_info>* {
    display: inline-flex;
    align-items: center;
}

.developer__page__add_info>* svg {
    margin-right: 12px;
}

.developer__page__add_info__text {
    margin-top: 4px;
}

.developer__page__info__col .default__text>* {
    margin-bottom: 15px;
}

.developer__page__count {
    margin-bottom: 143px;
}

.developer__page__advantage .title_x {
    max-width: 700px;
    margin: 0 auto 60px;
    line-height: 1.1;
}

.developer__page__advantage__list {
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 10px;
}

.developer__page__advantage__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(100% / 4 - 7.5px);
    font-size: 15px;
}

.developer__page__advantage__item__icon {
    font-size: 0;
    margin-bottom: 8px;
}

.developer__page__advantage {
    margin-bottom: 142px;
}

.block__2--actual__developers .block__2__title {
    max-width: 550px;
}


.block__2.block__2--actual__developers .block__2__title {
    margin-bottom: 57px;
}

.block__2__item__price {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 7px;
}


.btn_block__2--actual__developers {
    position: absolute;
    top: 38px;
    right: 0;
}

.block__2--actual__developers {
    position: relative;
}


.developer__page__info__col--2 {
    width: calc(100% - 675px - 6%);
}

.page_developer_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page_developer_text__title {
    padding-top: 53px;
    line-height: 1.1;
}

.page_developer_text__x {
    font-size: 17px;
    margin-top: 1px;
    max-width: 530px;
}

.page_developer_text__x .default__text {
    line-height: 1.125;
}

.page_developer_col {
    width: 47.25%;
}

.page_developer_text__image {
    font-size: 0;
}



.page_developer_text {
    margin-bottom: 60px;
}

.page_developer_map__inner {
    height: 601px;
}

.page_developer_map {
    margin-bottom: 141px;
}

.point_appartament_x__card--map {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
    pointer-events: all;
    width: 100%;
    max-width: 320px;
}

.point_appartament_x__card--map .point_appartament_x__card:before {
    display: none;
}

.gm-style .gm-style-iw-c {
    padding: 0 !important;
    border-radius: 0 !important;
    box-shadow: none;
}

.point_appartament_x__card--map .point_appartament_x__card__developer__price {
    margin-bottom: 15px;
}

.gm-style .gm-style-iw-d {
    padding: 0 !important;
    overflow: visible !important;
}

.point_appartament_x__card--map .point_appartament_x__card__image__inner {
    padding-top: 50%;
}

@media screen and (max-width: 1100px) {
    .developer__page__info__col.developer__page__info__col--1 {
        font-size: 20px;
        max-width: 400px;
    }

    .developer__page__info__col--2 {
        width: calc(100% - 400px - 6%);
    }
}


@media screen and (max-width: 1000px) {
    .point_appartament_x__card__developer__text {
        max-height: 30px;
        overflow: hidden;
    }

    .point_appartament_x__card--map {
        max-width: 275px;
    }
    .page_developer_text__title {
        padding-top: 0;
    }

    .page_developer_row {
        flex-direction: column;
        gap: 40px;
    }

    .page_developer_col {
        width: 100%;
    }

    .page_developer_text__x {
        max-width: 650px;
        font-size: 15px;
    }

    .page_developer_text__x .default__text {
        line-height: 1.25;
    }

    .page_developer_map {
        margin: 0 -20px 100px;
    }

    .page_developer_map__inner {
        height: 500px;
    }
}

@media screen and (max-width: 800px) {
    .developer__page__info__col.developer__page__info__col--1 {
        font-size: 23px;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .developer__page__info {
        flex-direction: column;
        gap: 0;
        margin-bottom: 50px;
    }

    .developer__page__info__col--2 {
        width: 100%;
    }

    .slider__developer_page {
        margin-bottom: 45px;
    }

    .developer__page__info__list {
        font-size: 18px;
    }

    .developer__page__info__list li {
        margin-bottom: 18px;
    }

    .developer__page__advantage .title_x {
        font-size: 29px;
        text-align: left;
        margin-bottom: 50px;
    }

    .developer__page__advantage__item {
        width: calc(33.33% - 7.5px);
    }

    .developer__page__advantage {
        margin-bottom: 100px;
    }

    .block__2.block__2--actual__developers .block__2__title {
        max-width: 425px;
    }

    .btn_block__2--actual__developers {
        position: static;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 550px) {
    .developer__page__advantage__item {
        width: calc(50% - 15px);
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .developer__page__advantage__list {
        gap: 40px 30px;
    }
}