.contact__page__item__phone a {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    color: inherit;
    text-decoration: none;
}

.btn_x1 {
    background: #AA8B62;
    color: #fff;
    text-decoration: none;
    padding: 19px 30px;
    display: inline-flex;
    line-height: 1;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

.btn_x1:hover {
    background: #8c6d44;
}

.contact__page__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px 85px;
}

.contact__page__item {
    width: calc(50% - 70px);
    margin: 0 35px;
}

.contact__page__call {
    margin-bottom: 27px;
}

.contact__page__item__phone {
    margin-bottom: 12px;
}

.contact__page__item__mail a {
    color: inherit;
    text-decoration: none;
    margin: 0 8px;
    font-size: 17px;
}

.contact__page__item__mail {
    margin: 0px -8px;
    margin-bottom: 19px;
}

.contact__page__item__adress {
    display: flex;
    font-size: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.contact__page__item__adress svg {
    margin-right: 10px;
    margin-top: -2px;
}

.contact__page__item__adress__text {
    flex: 1;
}

.contact__page__item__map iframe {
    height: 360px;
    background: #ccc;
}

.contact__page__item__phone a:hover {
    color: #aa8b62;
}

.contact__page__item__mail a:hover {
    color: #aa8b62;
}

.contact__page__form {
    margin-bottom: -20px;
}

@media screen and (max-width: 800px) {
    .contact__page__item {
        width: 100%;
        margin: 0;
    }

    .contact__page__list {
        flex-direction: column;
        gap: 50px;
        margin: 0;
    }

    .contact__page__item__map {
        margin: 0 -15px;
    }

    .contact__page__call {
        margin-bottom: 45px;
    }

    .contact__page__item__mail {
        display: flex;
        flex-direction: column;
        gap: 7.5px;
        margin: 0 0 24px;
    }

    .contact__page__item__mail a {
        margin: 0;
    }

    .contact__page__item__phone {
        margin-bottom: 15px;
    }

    .contact__page__item__adress {
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 550px) {

.btn__page__contact {
    margin: 5px 0 0;
    padding: 19px 29.5px;
    font-size: 14px;
}

.contact__page__item__mail {
    gap: 15px;
    margin-bottom: 19px;
}

.contact__page__item__adress {
    margin-bottom: 16px;
}

.contact__page__list {
    gap: 46px;
}
}