.point_appartament_x {
    position: absolute;
}
.point_appartament_x.show {
    z-index: 3;
}

.image__appartment__block{    width: 1780px;
    overflow: hidden;}
.image__appartment__block__inner {
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
}

.page_area__image_map::-webkit-scrollbar {
    display: none;

  }

  .page_area__image_map{ -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
}

.image__appartment__block__inner>img {
    height: 100%;
    width: 100%;
}

.point_appartament_x__card__title a {
    color: inherit;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.point_appartament_x__card__info {
    padding: 20px;
    border-top: 0;
}

.point_appartament_x__card__image__inner>img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.point_appartament_x__card.__onTop:before {
    top: 28px;
}
.point_appartament_x__card.__onBottom:before {
    top: auto;
    bottom: 4px;
}

.point_appartament_x__card__image__inner {
    padding-top: 62.5%;
    position: relative;
}

.point_appartament_x__card__image {
    display: block;
    overflow: hidden;
}

.point_appartament_x__card__image:hover img {
    transform: scale(1.05);
}

.point_appartament_x__card__title a:hover {
    color: #a98b60;
}

.point_appartament_x__card__developer {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.1;
    color: #949494;
    margin-bottom: 15px;
}
.point_appartament_x__card__developer__title {
    margin-right: 3px;
}

.point_appartament_x__card__developer a {
    color: #AA8B62;
}

.point_appartament_x__card__developer a:hover {
    color: #8c6d44;
    text-decoration: none;
}

.point_appartament_x__card__title {
    margin-bottom: 15px;
}

.point_appartament_x__card__developer__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.point_appartament_x__card__developer__more {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
/* identical to box height */
    letter-spacing: 0.035em;
    text-transform: uppercase;

/* Secondary */
    color: #AA8B62;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.point_appartament_x__card__developer__more:hover {
    color: #8c6d44;
}

.point_appartament_x__card__developer__more:hover svg {
    transform: translate(5px, 0px);
}

.point_appartament_x__card__developer__more svg {
    margin-left: 10px;
    transition: 0.25s;
    margin-top: -1.5px;
}

.point_appartament_x__card__developer__more:hover path {
    stroke: #8c6d44;
}

.point_appartament_x__card {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: .35s ease-in-out;
    pointer-events: none;
    width: 320px;
    background: #fff;
    top: calc(50% + 25px);
    transform: translate(0,-50%);
}

.point_appartament_x__view {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='11' y='18' width='20' height='20' rx='10' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='21' cy='28' r='4.5' fill='white' stroke='white'/%3E%3Ccircle cx='21' cy='28' r='9.25' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M21 10L26.1962 1H15.8038L21 10Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 42px;
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    background-position: 50%;
    transition: 0.25s;
}

.point_appartament_x__view:hover {
    opacity: 0.75;
}

.point_appartament_x.show .point_appartament_x__card {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.show--left {
    right: 67px;
}

.point_appartament_x__card:before {
    content: '';
    position: absolute;
    top: calc(50% + -22px);
    transform: translate(0,-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='29' viewBox='0 0 24 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-6.99382e-07 14.5L24 0.643592L24 28.3564L-6.99382e-07 14.5Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 29px;
    right: -24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.point_appartament_x__card.show--left:before {
    transform: translate(0,-50%) rotate(180deg);
}

.point_appartament_x__card.show--right {
    left: calc(100% + 20px);
}

.point_appartament_x__card.show--right:before {
    left: -24px;
}

.point_appartament_x__card__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    z-index: 2;
    padding: 11px;
    border: none;
    backdrop-filter: blur(21px);
    background-color: rgb(255 255 255 / 10%);
}
.point_appartament_x__card__close path{transition: 0.25s;}

.point_appartament_x__card__close:hover path {
    fill: #8c6d44;
}
.point_appartament_x__card__close svg {
    width: 100%;
    height: auto;
}
