.form__block__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    margin-bottom: 18px;
}

.form__block__info {
    padding: 0px;
    max-width: 600px;
    position: relative;
    z-index: 1;
}

.form__block__text {
    font-size: 17px;
    margin-bottom: 29px;
}

.form__block__x__row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 580px;
    margin-bottom: 0px;
}

.form__block__x__row>* {
    flex: 1;
    margin: 0;
}

.form__block__x__row .form__field--btn button {
    padding: 16px;
}

.form__block {
    position: relative;
    padding: 150px 0 30px;
}
.form__block:after {
    content: '';
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    background: #ebebeb;
    height: 1px;
}

.form__block__x__image {
    position: absolute;
    left: 680px;
    bottom: 0px;
    font-size: 0;
    width: 762px;
    pointer-events: none;
}


.form__block__title--mobile{display: none;}
@media screen and (max-width: 1300px) {
    .form__block__x__image {
        left: 490px;
    }
}


@media screen and (max-width: 1000px) {
    .form__block__info {
        max-width: 350px;
    }

    .form__block__x__row {
        flex-direction: column;
    }

    .form__block__x__row .form__field.form__field--btn {
        width: 100%;
    }

    .form__block__x__image {
        left: 315px;
        width: 600px;
        bottom: 0px;
    }

    .form__block {
        padding: 75px 0 55px;
        padding-bottom: 0;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 700px) {
    .form__block__title--desktop{display: none;}
    .form__block__title--mobile{display: block;}
    .form__block__title {
        font-size: 29px;
        margin-bottom: 15px;
    }

    .form__block__text {
        font-size: 15px;
    }

    .form__block__info {
        max-width: 290px;
    }

    .form__block__x__image {
        left: 235px;
        width: 550px;
    }
}

@media screen and (max-width: 550px) {


.form__block {
    padding-top: 105px;
    padding-bottom: 0;
    margin-bottom: 100px;
}



.form__block__x__row .form__field input {
    padding: 24.25px 25px;
}

.form__block__x__image {
    margin-top: 25px;
    margin-left: -13.65%;
    width: 126.5%;
}
    .form__block__info {
        max-width: 100%;
    }

    .form__block__x__image {
        position: static;
        margin-left: -6%;
        margin-top: 30px;
        width: calc(100% + 7.5%);
    }
}
