.modal__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transform: translate(-100%,0);
    background: #fff;
    /* max-width: 350px; */
    width: 100%;
    visibility: hidden;
    overflow: scroll;

    &.active{
        opacity: 1;
        visibility: visible;
        z-index: 15;
        pointer-events: all;
        transform: translate(0,0);
    }
}


.loaded .modal__menu{  transition: .35s ease-in-out;}


.modal__menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.modal__menu__inner {
    padding: 0px 16px 20px;
    max-width: 500px;
    margin: 0 auto;
}

.header__call--in_mobile_nenu {
    display: flex;
    border: none;
    margin: 0;
    margin-top: 5px;
    margin-left: -5px;
}

.btn__close {
    width: 40px;
    height: 40px;
    background: transparent;
    position: relative;
    border: none;
    margin-top: 0px;
}

.btn__close:before,.btn__close:after {
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    content: '';
    width: 70%;
    height: 1px;
    background: #000;
    position: absolute;
    transform: rotate(45deg);
}

.btn__close:after {
    transform: rotate(-45deg);
}

.header__call--in_mobile_nenu svg {
    transform: scale(1.25);
}

.modal__menu__nav {
    max-width: 350px;
    margin: 0 auto;
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 23px;
    line-height: 107%;
}

.modal__menu__top__logo {
    max-width: 172px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.modal__menu__nav a {
    color: inherit;
    text-decoration: none;
    padding-right: 0;
    display: block;
}

.modal__menu__nav ul {
    list-style: none;
}

.modal__submenu a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.modal__submenu__item__price {
    color: #949494;
    font-size: 11px;
    margin-left: 10px;
}

.modal__submenu li {
    margin-bottom: 13px;
    line-height: 1.1;
}

.modal__submenu {
    display: none;
    padding: 15px 0 0;
    margin-bottom: -3px;
}

.modal__menu__list>li {
    margin-bottom: 30px;
    position: relative;
}

.modal__menu__list .has__submenu>a:after {
    display: none;
}

.modal__submenu li:last-child {
    margin: 0;
}

.modal__menu::-webkit-scrollbar {
  display: none;
}

.modal__menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal__menu__list>li:last-child {
    margin-bottom: 0;
}

.modal__menu__contact {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.modal__menu__social {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.modal__menu__social a {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__menu__contact__phone {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 107%;
    text-decoration: none;
    color: inherit;
    margin-bottom: 20px;
}

.modal__menu__contact__mail {
    font-weight: 300;
    font-size: 15px;
    color: inherit;
    text-decoration: none;
}

.btn_show__submenu {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9.5L12 15.5L18 9.5' stroke='%23AA8B62' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    content: "";
    position: absolute;
    right: 0px;
    top: -5px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    transition: 0.25s;
    filter: brightness(0);
}

a.modal__submenu__item--all {
    color: #949494;
    font-size: 14px;
}
.modal__menu__nav a:hover {
    color: #aa8b62;
}

.modal__menu__contact__phone:hover,.modal__menu__contact__mail:hover {
    color: #aa8b62;
}

.modal__menu__social a:hover svg {
    fill: #aa8b62;
}

.modal__menu__social a svg {
    transition: 0.25s;
    fill: #231f20;
}

.modal__menu__list .has__submenu {
    padding-right: 40px;
}

.modal__menu__list .has__submenu:hover .btn_show__submenu {
    filter: none;
}

.modal__menu__list .has__submenu.active .btn_show__submenu {
    transform: rotate(180deg);
    filter: none;
}


.has__submenu.active>a {
    color: #b68e5a;
}