.slider__project_page {
    padding-top: 38px;
    margin-bottom: 60px;
}

.project_text__col1 {
    width: 45%;
}

.project_text__main {
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 29px;
    line-height: 1.07;

    margin-bottom: 26px;
}

.project_text__main p {
    margin-bottom: 20px;
}

.project_text__main p:last-child {
    margin-bottom: 0;
}

.appartment__text_add.appartment__text_add--project {
    margin-top: 32px;
    padding-left: 7px;
}

.project_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 142px;
}

.project_text__col1 {
    align-self: flex-start;
}

.project_text__col2 {
    align-self: flex-end;
    width: calc(50% - 10px);
    margin-top: -111px;
    font-size: 17px;
    line-height: 1.17;
}

.project_text__add {
    max-width: 520px;
}

.project_text__add p {
    margin-bottom: 10px;
}

.project_text__add p:last-child {
    margin-bottom: 0;
}

.project__about__top {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 59px;
}

.project__about__top__text {
    font-size: 17px;
    line-height: 1.2;
}

.project__about__top__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    margin-bottom: 17px;
}

.project__about {
    margin-bottom: 143px;
}

.project__location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 147px;
}

.project__location__info {
    width: 50%;
}

.project__location__map {
    width: 47%;
}

.project__location__text {
    max-width: 600px;
    font-size: 15px;
    line-height: 1.25;
}

.project__location__text p {
    margin-bottom: 16px;
}

.project__location__text p:first-child {
    font-size: 17px;
    margin-bottom: 26px;
}

.project__appartaments .title_2 {
    max-width: 400px;
    line-height: 1;
}

.project__location__map>* {
    height: 500px;
}

.project__appartaments {
    margin-bottom: 119px;
}

.project__appartaments .area__appartament__list {
    gap: 30px 50px;
    flex-wrap: wrap;
}

.project__appartaments .appartament_card {
    width: calc(50% - 25px);
    flex: none;
}

.project__text--title_2 {
    max-width: 430px;
    line-height: 1.1;
}

.project__text {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 132px;
}

.project__text_def {
    max-width: 610px;
    font-size: 17px;
    line-height: 1.18;
    margin-bottom: 81px;
}

.project__text__col1 {
    width: 47.2%;
}

.project__text_def p {
    margin-bottom: 20px;
}

.project__text_def p:last-child {
    margin-bottom: 0;
}

.project__text__col2 {
    width: 47.2%;
    padding-top: 116px;
}

.project__text__col2 .project__text_def--mtop {
    margin: 74px 0 0;
    max-width: 610px;
    font-size: 15px;
    line-height: 1.34;
}

.project_block_near_place {
    margin-bottom: 140px;
}

@media screen and (max-width: 1100px) {
    .project_text__main {
        font-size: 23px;
    }
}

@media screen and (max-width: 1000px) {
    .project__appartaments .area__appartament__list {
        gap: 30px 20px;
    }

    .project__appartaments .appartament_card {
        width: calc(50% - 10px);
    }

    .project__text__col2 {
        width: 100%;
        padding: 0;
    }

    .default__text.project__text_def {
        font-size: 15px;
        margin: 50px 0 0;
    }

    .project__text__col1 .default__text.project__text_def {
        order: 2;
    }

    .project__text__col1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .project__appartaments .appartament_card {
        width: 100%;
    }

    .project_text__col1 {
        width: 100%;
        margin-bottom: 40px;
    }

    .project_text__col2 {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 750px) {
    .default__text.project__text_def {
        margin-top: 20px;
        line-height: 1.25;
    }

    .project__text {
        margin-bottom: 100px;
    }

    .project_block_near_place {
        margin-bottom: 100px;
    }

    .project__location {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .project__location__info {
        width: 100%;
        margin-bottom: 50px;
    }

    .project__location__map {
        width: calc(100% + 32px);
        margin: 0 -16px;
        height: 500px;
    }

    .default__text.project__location__text {
        font-size: 14px;
        margin-top: 20px;
    }

    .project__location__text p:first-child {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .page_area__appartament.project__appartaments {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 700px) {
    .project_text {
        margin-bottom: 100px;
    }

    .project__about__top {
        margin: 0;
        text-align: left;
        margin-bottom: 60px;
    }

    .project__about {
        margin-bottom: 100px;
    }

    .project__about__top__title {
        font-size: 29px;
    }

    .project__about__top__text {
        font-size: 15px;
    }

    .project__about__top {
        margin-bottom: 35px;
    }
}