<div class="appartament_card">
    <a href="" class="appartament_card__image">
        <div class="appartament_card__image__inner">
            <img src="@@image" alt="">
        </div>
    </a>
    <div class="appartament_card__info">
        <div class="appartament_card__title"><a href="">@@title</a></div>
        <div class="appartament_card__char__list">
            <div class="appartament_card__char__item">11 floor</div>
            <div class="appartament_card__char__item">2 bedrooms</div>
            <div class="appartament_card__char__item">1,286 ft²</div>
        </div>
        <div class="appartament_card__price">от 5 500 000 AED</div>
        <div class="appartament_card__location">
            <div class="appartament_card__location__item">
                <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 5.25C0 2.3475 2.45929 0 5.5 0C8.54071 0 11 2.3475 11 5.25C11 9.1875 5.5 15 5.5 15C5.5 15 0 9.1875 0 5.25ZM5.5 8C6.88071 8 8 6.88071 8 5.5C8 4.11929 6.88071 3 5.5 3C4.11929 3 3 4.11929 3 5.5C3 6.88071 4.11929 8 5.5 8Z" fill="#AA8B62"/>
                </svg>
                <div class="appartament_card__location__item__text">Dubai Marina</div>
            </div>
            <div class="appartament_card__location__item">
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 4.97059L0 0V4.71569V13H3.88182V7.07353L7 9.43137L10.1182 7.07353V13H14V4.71569V0L7 4.97059Z" fill="#AA8B62"/>
                </svg>
                <div class="appartament_card__location__item__text">Dubai Marina</div>
            </div>
        </div>
    </div>
</div>