<a href="#" class="area_item @@size  @@if (hideMobile === 'true') {hideMobile}">
    <div class="area_item__image">
        <img src="@@image" alt="@@title">
    </div>
    <div class="area_item__info">
        <div class="area_item__title">@@title</div>
        <div class="area_item__count">@@count</div>
    </div>
</a>