<div class="slider_type_1__wrap slider__area_add js_slider_type_1__wrap">
    <div class="slider_type_1 js_slider_type_1">
        @@for (var i = 1; i <= 5; i++) {
            <div class="slider_type_1__slide">
                <div class="slider_type_1__area_add_info">
                    <div class="slider_type_1__area_add_info__title">Места поблизости `+i+`</div>
                    <div class="slider_type_1__area_add_info__bottom">
                        <div class="slider_type_1__area_add_info__bottom__title">Кайанская башня</div>
                        <div class="slider_type_1__area_add_info__bottom__text">Cayan Tower, известная как Башня Бесконечности, является одним из самых высоких зданий в мире, которое закручено на 90°. Вы сможете подняться на самый высокий уровень и насладиться захватывающими дух видами Дубая и залива с высоты полета.</div>
                    </div>
                </div>

                <div class="slider_type_1__slide__inner">
                    <img src="images/__content/area/2.jpg">
                </div>
            </div>
        }
    </div>
    <div class="slider_type_1__info">
        <div class="js_slider_info">
            <div class="slider_info__arrow">
                <button class="slider__arrow slider__arrow__prev">
                    <svg width="45" height="6" viewBox="0 0 45 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.07287 0.930297H45V0H0L9.07287 6V0.930297Z" fill="#231F20"/></svg>
                </button>
                <button class="slider__arrow slider__arrow__prev">
                    <svg width="45" height="6" viewBox="0 0 45 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M35.9271 5.0697H0V6H45L35.9271 0V5.0697Z" fill="#231F20"/></svg>
                </button>
            </div>
            <div class="slider_info__number">
                <span class="slider_info__number__current">01</span>/<span class="slider_info__number__max">10</span>
            </div>
        </div>
    </div>
</div>