<div class="block__2__item">
    <a href="" class="block__2__item__image">
        <div class="block__2__item__image__inner">
            <img src="@@image" alt="@@title">
        </div>
    </a>
    <div class="block__2__item__info">
        <div class="block__2__item__title"><a href="#">@@title</a></div>
        <div class="block__2__item__price">от 5 500 000 AED</div>
        <div class="block__2__item__text">@@text</div>
    </div>
</div>
