<div class="form__block">
    <div class="form__block__info">

        @@if (title != false) {
            <div class="form__block__title">@@title</div>
        }
        @@if (title == false) {
            @@if (mobile == false){
                <div class="form__block__title">Получить лучшие предложения ОАЭ</div>
            }
            @@if (mobile != false){
                <div class="form__block__title form__block__title--desktop">Получить лучшие предложения ОАЭ</div>
                <div class="form__block__title form__block__title--mobile">Наши специалисты помогут подобрать вам нужный вариант</div>
            }

        }

        <div class="form__block__text">23 новых объекта по цене от 820 000 AED</div>
        <div class="form__block__x">
            <div class="form__block__x__info">
                <form action="javascript:void(0)" class="js_form">
                    <div class="form__block__x__row">
                        <div class="form__field">
                            <input type="text" name="name" required placeholder="Ваше имя">
                        </div>

                        <div class="form__field">
                            <input type="tel" name="phone" required placeholder="+ ___ (_) ___-____" class="js_phone">
                        </div>

                        <div class="form__field form__field--btn">
                            <button class="btn_default btn__modal__call js_form_btn">Отправить</button>
                        </div>
                    </div>

                    <div class="form__field form__field--agree">
                        <label class="form__field--agree_x">
                            <input type="checkbox" name="agree_box"  required>
                            <div class="form__field--agree_x__view"></div>
                            <div class="form__field--agree_x__text">Подтверждаю согласие на обработку персональных данных согласно <a href="">политике конфиденциальности</a></div>
                        </label>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="form__block__x__image">
        <img src="images/components/form.png" alt="">
    </div>
</div>