<h2 class="title_2">Планировки</h2>
<div class="layout__block__x js_layout__block__x">
    <div class="layout__block__tab">
        <a href="javascript:void(0)" class="active">Студии</a>
        <a href="javascript:void(0)">1 спальня</a>
        <a href="javascript:void(0)">2 спальни</a>
        <a href="javascript:void(0)">3 спальни</a>
        <a href="javascript:void(0)">4+ спальни</a>
    </div>
    <div class="layout__block__list js_layout__block__list">
        <div class="layout__block__item active">
            <div class="layout__block__item__inner">
                <div class="layout__block__item__image">
                    <a href="javascript:void(0)" data-fancybox data-src="images/__content/layout.jpg" class="layout__block__item__image__inner">
                        <img src="images/__content/layout.jpg">
                    </a>
                </div>
                <div class="layout__block__item__info">
                    <div class="layout__block__item__info__price">от 5 500 000 AED</div>
                    <div class="layout__block__item__info__size_price">от 2 740 AED за ft²</div>
                    <div class="layout__block__item__info__size">356.18 sqft</div>
                    <div class="layout__block__item__info__text">
                        <p>Квартира с 4 спальнями в комплексе One JBR. Квартира площадью 3776 футов расположена на 34 из 47, закончена. В распоряжении гостей терраса. Окна: панорамные.</p>
                    </div>
                    <a href="" class="btn_default btn_x btn_call_layout">назначить встречу</a>
                </div>
            </div>
        </div>
        @@for (var i = 1; i <= 4; i++) {
            <div class="layout__block__item">
                <div class="layout__block__item__inner">
                    <div class="layout__block__item__image">
                        <a href="javascript:void(0)" data-fancybox data-src="images/__content/layout.jpg" class="layout__block__item__image__inner">
                            <img src="images/__content/layout.jpg">
                        </a>
                    </div>
                    <div class="layout__block__item__info">
                        <div class="layout__block__item__info__price">от 5 500 000 AED</div>
                        <div class="layout__block__item__info__size_price">от 2 740 AED за ft²</div>
                        <div class="layout__block__item__info__size">356.18 sqft</div>
                        <div class="layout__block__item__info__text">
                            <p>Квартира с 4 спальнями в комплексе One JBR. Квартира площадью 3776 футов расположена на 34 из 47, закончена. В распоряжении гостей терраса. Окна: панорамные.</p>
                        </div>
                        <a href="" class="btn_default btn_x btn_call_layout">назначить встречу</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>