.main_footer {
    position: relative;
}

.main_footer {
    margin-top: 140px;
    padding-top: 20px;
    padding-bottom: 29px;
}

.footer_col__title {
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 23px;
    line-height: 107%;
    margin-bottom: 28px;
}

.main_footer__top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 57.5px;
    align-items: flex-start;
}

.footer_col--3 {
    width: 19%;
}

.footer_menu ul {
    list-style: none;
}

.footer_menu li {
    margin-bottom: 7.5px;
}

.footer_menu a {
    font-size: 15px;
    text-decoration: none;
    color: inherit;
}

a.footer_menu__link__all {
    color: #949494;
    text-decoration: underline;
}

.footer_col--1 {
    width: 19%;
}

.footer_col--2 {
    width: 19%;
}

.main_footer__bottom {
    display: flex;
    gap: 20px;
    font-size: 12px;
    color: #949494;
}

.btn__up {
    position: fixed;
    left: calc(50% + 735px);
    bottom: 20px;
    display: flex;
    border: none;
    background: transparent;
    color: #AA8B62;
    transition: 0.25s;
    align-items: flex-end;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    width: 32px;
}

.btn__up.show {
    visibility: visible;
    z-index: 2;
    opacity: 1;
}

.btn__up__text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    line-height: 1;
    margin-right: 4px;
    font-size: 12px;
}

.btn__up:hover {
    color: #231f20;
}

.btn__up:hover path {
    fill: #231f20;
}



.footer_menu a:hover {
    color: #aa8b62;
}

.footer_menu_big a {
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 23px;
    line-height: 107%;
    text-decoration: none;
    color: inherit;
}

.footer_menu_big ul {
    list-style: none;
}

.footer_menu_big li {
    margin-bottom: 30px;
}

.footer_col--4 {
    width: 20%;
}

.footer__logo {
    width: 230px;
    display: flex;
    margin-left: -12px;
    margin-bottom: 30px;
}

.footer__contact {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-bottom: 27px;
}

.footer_col--5 {
    width: calc(100% - (19% * 4) - 1% - 80px);
}

.footer__info {
    margin-top: -20px;
}

.footer__lang a {
    font-size: 12px;
    color: inherit;
    opacity: 0.5;
    text-decoration: none;
}

.main_footer__develop {
    color: inherit;
    text-decoration: none;
}

.main_footer__develop:hover {
    color: #aa8b62;
}

.footer_menu_big a:hover {
    color: #aa8b62;
}

.footer_menu_big li:last-child {
    margin-bottom: 0;
}

.footer_menu li:last-child {
    margin-bottom: 0;
}

span.footer_property__item__image__inner {
    display: block;
    padding-top: 54%;
    background: #000;
    overflow: hidden;
    position: relative;
}

.footer_property__item__image {
    display: block;
    margin-bottom: 11px;
}

span.footer_property__item__image__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    transition: 0.25s;
    top: 0;
}

.footer_property__title {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 1.2;
    color: inherit;
    text-decoration: none;
    display: block;
}

.footer_property__price {
    font-size: 12px;
    color: #AA8B62;
}

.footer_property__item {
    margin-bottom: 17px;
    max-width: 150px;
}

.footer_property__item:last-child {
    margin-bottom: 0;
}

.footer_property__title:hover {
    color: #aa8b62;
}

.footer_property__item__image:hover img {
    transform: scale(1.05);
}

.footer__lang {
    display: flex;
    gap: 16px;
    margin-bottom: 47px;
}

.footer__lang a.active {
    opacity: 1;
    text-decoration: underline;
}

.footer__lang a:hover {
    color: #aa8b62;
    opacity: 1;
    text-decoration: underline;
}

.footer__phone {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.footer__mail {
    margin-top: 12px;
    font-size: 17px;
    color: inherit;
    text-decoration: none;
}

.footer__mail:hover {
    color: #aa8b62;
}

.footer__phone:hover {
    color: #aa8b62;
}

.footer__social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer__social a {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
}

.footer__social a svg {
    fill: #231f20;
    transition: 0.25s;
}

.footer__social a:hover svg {
    fill: #aa8b62;
}

@media screen and (max-width: 1550px) {
    .btn__up {
        left: auto;
        right: 20px;
        bottom: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .footer_col.footer_col--5 {
        order: -1;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__logo {
        margin-bottom: 0;
    }

    .footer_col {
        width: calc((100% - 60px) / 4);
    }

    .footer__lang {
        margin-bottom: 0;
    }

    .footer__contact {
        margin-bottom: 0;
    }

    .footer__mail {
        margin-top: 5px;
    }
}

@media screen and (max-width: 950px) {
    .footer_property__list {
        display: flex;
        gap: 20px;
    }

    .footer_property__item {
        max-width: 100%;
        flex: 1;
    }
    .footer_col {
        width: calc((100% - 20px) / 2);
        margin-bottom: 30px;
    }

    .footer__logo {
        width: 170px;
        margin-left: -10px;
    }

    .footer__lang {
        display: none;
    }

    .footer__social {
        display: none;
    }
}

@media screen and (max-width: 750px) {
.footer_property__list {
    flex-direction: column;
}
}
@media screen and (max-width: 550px) {
    .main_footer {
        margin-top: 55px;
    }

    .footer__logo {
        width: 145px;
    }

    .footer__contact {
        display: none;
    }

    .footer_col {
        width: 100%;
        margin-bottom: 17px;
    }

    .footer_col__title {
        font-size: 20px;
        margin-bottom: 17px;
    }

    .footer_menu ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0 20px;
    }

    .footer_menu li {
        width: calc(50% - 20px);
        margin-bottom: 12px;
    }

    .footer_menu a {
        font-size: 14px;
    }

    .footer_property__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: row;
    }

    .footer_property__item {
        max-width: 250px;
        flex: 1;
        margin: 0;
    }

    span.footer_property__item__image__inner {
        padding-top: 50%;
    }

    .footer_property__title {
        font-size: 14px;
    }

    .footer_property__price {
        font-size: 11px;
    }

    .footer_col--2 {
        margin-bottom: 28px;
    }

    .footer_col--3 {
        margin-bottom: 20px;
    }

    .footer_menu_big a {
        font-size: 20px;
    }

    .footer_menu_big li {
        margin-bottom: 17.5px;
    }

    .main_footer__bottom {
        flex-direction: column;
        gap: 12px;
    }

    .main_footer__bottom>* {
        margin: 0;
    }

    .main_footer__top {
        margin-bottom: 34px;
    }
}