.header_main {
    position: fixed;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    top: 0
}

.header__btn_menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 0;
    margin-right: -5px;


    span {
        background: #231F20;
        width: 80%;
        height: 2px;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: 0.5s;

        &:nth-child(1) {
            transform: translate(6.4px, -8.5px);
            width: 42%;



        }

        &:nth-child(2) {
            transform: translate(0, 0);

        }

        &:nth-child(3) {
            transform: translate(2.75px, 8.5px);
            width: 64%;



        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
                width: 70%;
            }

            &:nth-child(2) {
                opacity: 0;

            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg);
                width: 70%;
            }
        }

    }
}


.header_main .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__logo {
    display: flex;
    align-items: flex-start;
    width: 290px;

}

.loaded .header__logo{transition: 0.35s ease-in-out;}
.header__menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
}

.header__info {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.header__btn_menu {
    display: none;
}

.header__menu {
    padding-top: 26px;
    flex: 1;
    margin-left: 62px;
    font-size: 15px;
}

.header__menu a {
    color: inherit;
    text-decoration: none;
    position: relative;
    width: 100%;
    display: flex;
}

.header__menu__list>li {
    margin-right: 30px;
}

.has__submenu>a {
    padding-right: 21.5px;
}

.header__menu__list a:hover {
    color: #AA8B62;
}

.has__submenu>a:after {
    position: absolute;
    right: 3px;
    content: '';
    top: 6.5px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23AA8B62' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    filter: brightness(0);
    transition: 0.25s;
}

.has__submenu>a:hover:after {
    filter: none;
}

.has__submenu:hover a:after {
    transform: rotate(180deg);
}


.header__phone {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: inherit;
    text-decoration: none;
}

.header__call {
    border: 2px solid #aa8b62;
    border-radius: 60px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: .35s ease-in-out;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}


.header__call--desktop:before {
    background: #147512;
    border: 1.5px solid #FFFFFF;
    width: 12px;
    height: 12px;
    position: absolute;
    content: '';
    border-radius: 50%;
    top: -1px;
    right: -1px;
    transition: 0.25s;
}

.header_main.scrolling .header__call--desktop:before {
    opacity: 0;
}

.header__contact {
    display: flex;
    align-items: center;
    transition: 0.35s ease-in-out;
}

.header__lang {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.header__lang a {
    font-size: 12px;
    line-height: 1;
    color: #949494;
    text-decoration: none;
}

.header__social a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.header__social {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 32px;
}

.header__call svg {
    transition: 0.25s;
    fill: #aa8b62;
}

.header__call:hover {
    border-color: #8C6D44;
}

.header__call:hover svg {
    fill: #8C6D44;
}

.header__phone:hover {
    color: #AA8B62
}

.header__social a svg {
    fill: #231F20;
}
.loaded .header__social a svg{transition: 0.25s;}

.header__social a:hover svg {
    fill: #AA8B62;
}

.header__lang a.active {
    color: inherit;
    text-decoration: underline;
}

.header__lang a:hover {
    color: #B68E5A;
    text-decoration: underline;
}

.header__menu__list>li:last-child {
    margin-right: 0;
}

.header_main.scrolling .header__logo {
    width: 160px;
    margin-top: 10px;
}

.header_main.scrolling {
    padding-bottom: 4px;
}

.header__call__text {
    font-size: 0;
    width: 0;
    transition: 0.35s ease-in-out;
}

.loaded .header__call__text{transition: 0.35s ease-in-out;}
.header_main.scrolling .header__call--desktop .header__call__text {
    font-size: 12px;
    width: 100%;
}

.header_main.scrolling .header__call--desktop {
    width: 157px;
    border-radius: 0;
    background: #aa8b62;
    height: 34px;
}

.header_main.scrolling .header__call--desktop .header__call__icon {
    width: 0;
}

.header_main.scrolling .header__call--desktop:hover {
    background: #8c6d44;
}

.header_main.scrolling .header__contact {
    padding-top: 4px;
}



.header__call--mobile {
    display: none;
}


.header__call--mobile {
    display: none;
}


.submenu__block {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 15px);
    background: #fff;
    box-shadow: 0px -2px 12px rgba(35, 31, 32, 0.07), 0px 8px 32px rgba(35, 31, 32, 0.05);
    top: calc(100% + 20px);
    left: -190px;
    width: 1100px;
    z-index: -1;
    pointer-events: none;
    display: none;
}

.loaded .submenu__block{transition: 0.35s ease-in-out;}

.loaded .submenu__block{display: block;}

.header__menu__list>li:hover .submenu__block {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0px);
    z-index: 5;
    pointer-events: all;
}

.submenu__block__inner {
    display: flex;
}

.submenu__block__info ul {
    list-style: none;
}

a.submenu__block__promo {
    width: 330px;
    position: relative;
}

.submenu__block__promo__image {
    display: flex;
}

.submenu__block__promo__info {
    background: rgba(35, 31, 32, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 30px;
}

.submenu__block:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: -12px;
    left: 244px;
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background: #fff;
    transform: rotate(45deg);
    box-shadow:-5px -5px 12px 2px rgb(35 31 32 / 2%);
}
.submenu__block--develop:before {
    left: 390px;
}

.submenu__block:after {
    content: '';
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    background: transparent;
    height: 20px;
    display: block;
    z-index: 12;
}

.submenu__block__area_title {
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 1.1;
}

.submenu__block__area_list a {
    display: flex;
    flex-direction: column;
}

.submenu__block__area_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    margin-bottom: -35px;
}

.submenu__block__info {
    flex: 1;
    padding: 30px;
}

.submenu__block__area_list li {
    width: calc(100% / 3 - 13.35px);
    margin-bottom: 35px;
}

.submenu__block__area_price {
    color: #AA8B62;
    font-size: 12px;
}

.submenu__block__promo__image img {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.submenu__block__promo__title {
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 23px;
    line-height: 107%;
}

.submenu__block__promo__text {
    font-size: 10px;
    color: #AA8B62;
    margin-top: 12px;
}

.submenu__block__develop_list li {
    display: flex;
    width: calc(100% / 2 - 15px);
    align-items: center;
}

.submenu__block__develop_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
}

.submenu__block__develop_list li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submenu__block__develop_image {
    filter: grayscale(1);
    position: relative;
    width: 90px;
    display: flex;
    opacity: 0.5;
}

.loaded .submenu__block__develop_image{transition: 0.35s ease-in-out;}

.submenu__block__develop_list li a:hover .submenu__block__develop_image {
    opacity: 1;
    filter: none;
}

.submenu__block__develop_price {
    color: #AA8B62;
    font-size: 12px;
}

.submenu__block__develop_title {
    font-size: 17px;
    margin-bottom: 6px;
    line-height: 1.1;
}


a.submenu__block__promo:hover img {
    transform: scale(1.05);
}

a.submenu__block__promo img {
    transition: 0.25s;
}

.submenu__block__promo__image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}


@media screen and (max-width: 1430px) {


    body {
        padding-top: 81px;
    }

    .header__logo {
        width: 205px;
    }

    .header__menu {
        margin: 0;
    }

    .header__menu__list {
        justify-content: center;
    }

    .header__phone {
        font-size: 18px;
    }

    .header_main.scrolling .header__call--desktop {
        width: 150px;
        padding-top: 2px;
    }

    .header__menu__list>li {
        margin-right: 25px;
    }
}

@media screen and (max-width: 1300px) {
    .header__menu {
        display: none;
    }

    .header__btn_menu {
        display: flex;
        margin-left: 23px;
    }
}

@media screen and (max-width: 800px) {
    body {
        padding-top: 72px;
    }

    .header__social {
        display: none;
    }

    .header__logo {
        width: 185px;
        margin-top: 8px;
        margin-left: -10px;
    }

    .header_main.scrolling .header__call--desktop .header__call__text {
        font-size: 11px;
    }

    .header_main.scrolling .header__call--desktop {
        width: 145px;
        padding-top: 2px;
        height: 32px;
    }
}

@media screen and (max-width: 700px) {
    .header__phone {
        display: none;
    }

    .header__call {
        margin-right: 0;
    }
}

@media screen and (max-width: 550px) {
    body {
        padding-top: 0;
    }

    .container {
        padding: 0 16px;
    }

    .header__logo {
        width: 170px;
        margin: 0;
    }

    .header_main.scrolling .header__logo {
        margin: 0;
        width: 170px;
    }

    .header__contact {
        display: none;
    }

    .header__call--mobile {
        display: flex;
        border: none;
        margin-top: -12px;
    }

    .header__lang {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        justify-content: center;
        bottom: 15px;
        gap: 20px;
    }

    .header_main {
        position: relative;
        padding: 19px 0 42px;
    }

    .header_main.scrolling {
        padding-bottom: 42px;
    }

    .header__info {
        padding-top: 0;
        margin-top: -14px;
    }

    .header_main .container {
        align-items: center;
    }

    .header__call--mobile svg {
        transform: scale(1.3);
    }
}