html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    color: #231F20;
    padding-top: 114px;
}



.loaded a{ transition: 0.25s}

.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.25s ease;
}


.main__content {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1480px;
}


.title_x {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 47px;
    line-height: 97%;
    margin: 0 0 20px;

    &--center {
        text-align: center;
    }
}

@media screen and (max-width: 850px) {

    .title_x--small {
        font-size: 35px;
    }
}

@media screen and (max-width: 550px) {
    .title_x {
        font-size: 41px;
    }
    .title_x--small {
        font-size: 29px;
    }


}


.form__field {
    position: relative;
    margin-bottom: 16px;

    &--btn {
        margin-bottom: 0;

        button {
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            border: none;
            background: #AA8B62;
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 0.035em;
            transition: 0.25s;
        }
    }

    input {
        width: 100%;
        padding: 14px 20px;
        line-height: 1;
        border: 1px solid #EBEBEB;
        border-radius: 0;
        -webkit-appearance: none;
        font-weight: 300;
    }

    textarea {
        width: 100%;
        padding: 14px 20px;
        line-height: 1.5;
        border: 1px solid #EBEBEB;
        border-radius: 0px;
        resize: vertical;
        min-height: 100px;
        -webkit-appearance: none;
    }
}
input.warning {
    border-color: #AC2929 !important;
}

.form__field--agree.warning .form__field--agree_x__view {
    border-color: #ac2a2a;
}

.form__field--agree.warning .form__field--agree_x__text {
    color: #ac2a2a;
}


.page__wrap {
    overflow: hidden;
    width: 100%;
}

.btn_x {
    background: #AA8B62;
    color: #fff;
    padding: 14px 30px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
}

.btn_x:hover {
    background: #8c6d44;
}

.btn_x svg {
    transition: 0.25s;
    margin-left: 18px;
    margin-top: 0px;
}

.btn_x:hover svg {
    transform: translate(5px,0);
}
