.modal__default {
    display: none;
    padding: 0;
    max-width: 620px;
    width: 100%;
}

.modal__sup_title {
    font-weight: 300;
    font-size: 15px;
    line-height: 135%;
    color: #949494;
    margin-bottom: 10px;
}

.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
    cursor: default;
}

.modal__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    margin-bottom: 15px;
}

.modal__add_title {
    font-size: 17px;
    margin-bottom: 30px;
}

.modal__call {
    max-width: 1440px;
}

.modal__inner--call__info {
    padding: 65px 25px 50px 80px;
    max-width: 780px;
}

.modal__inner--call {
    position: relative;
}

.modal__inner.modal__inner--call {
    padding: 0;
}

.modal__inner--call__image {
    position: absolute;
    left: 725px;
    top: 50%;
    width: 590px;
    transform: translate(0, -50%);
    pointer-events: none;
}

.modal__form {
    max-width: 590px;
}

.form__field__row {
    display: flex;
    gap: 20px;
}

.form__field__row .form__field {
    flex: 1;
    margin: 0;
    display: flex;
}

.form__field--agree_x__view {
    border: 1.5px solid #EBEBEB;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    transition: 0.25s;
}

.form__field--agree_x input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.form__field.form__field--btn {
    flex: none;
    width: 150px;
}

.btn__modal__call {
    padding: 10px;
}

.form__field--btn button:hover {
    background: #8c6d44;
}

.form__field--agree_x {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}

.form__field--agree_x__text {
    flex: 1;
    font-size: 10px;
    line-height: 12px;
    color: #949494;
    max-width: 260px;
}

.form__field--agree_x__text a {
    color: #231f20;
    text-decoration: none;
}

.form__field--agree_x__text a:hover {
    text-decoration: none;
}



.fancybox__content>.carousel__button.is-close {
    color: #000;
    top: 8px;
    right: 8px;
}

.carousel__button svg {
    filter: none;
}

.fancybox__content>.carousel__button.is-close:hover path {
    stroke: #AA8B62;
}

.form__field--agree_x:hover .form__field--agree_x__view {
    border-color: #231f20;
}

.form__field--agree_x__view:after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2L5.00002 9L2 5.99999' stroke='%23AA8B62' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0;
    transition: 0.25s;
}

.form__field--agree_x input:checked~.form__field--agree_x__view:after {
    opacity: 1;
}

.form__field--agree_x input:checked~.form__field--agree_x__view {
    border-color: #aa8b62;
}

.form__field--agree_x input:checked~.form__field--agree_x__view:hover {
    border-color: #8c6d44;
}

.form__field--agree_x input:checked~.form__field--agree_x__view:hover:after {
    filter: brightness(0.75);
}


.btn__style__2 {
    background: #AA8B62;
    border: none;
    padding: 16px 30px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 26px;
}

.modal__thanks {
    padding: 85px 50px;
    text-align: center;
    max-width: 960px;
    width: 100%;
}

.btn__style__2:hover {
    background: #8c6d44;
}

.modal__text {
    font-size: 17px;
}
.btn__close:hover:before,.btn__close:hover:after {
    background: #8c6d44;
}


@media screen and (max-width: 1450px) {
    .modal__call {
        max-width: 850px;
    }

    .modal__title {
        font-size: 32px;
    }

    .modal__inner--call__info {
        max-width: 560px;
        padding: 50px 25px 50px 50px;
    }

    .modal__inner--call__image {
        left: 510px;
        width: 410px;
        top: 39%;
    }
}

@media screen and (max-width: 1050px) {
    .modal__inner--call__image {
        display: none;
    }

    .modal__inner--call__info {
        max-width: 100%;
        padding: 50px 45px;
    }

    .modal__call {
        max-width: 650px;
    }
}

@media screen and (max-width: 700px) {
    .fancybox__slide:has(.modal__call) {
        background: #fff;
    }
    .fancybox__slide:has(.modal__thanks) {
        background:#fff
    }
    .modal__thanks {
        padding: 110px 15px;
    }

    .modal__text {
        font-size: 15px;
    }
    .modal__title {
        font-size: 29px;
        margin-bottom: 17px;
        line-height: 1.05;
    }

    .modal__sup_title {
        font-size: 14px;
        margin-bottom: 13px;
    }

    .modal__add_title {
        font-size: 15px;
    }

    .form__field__row {
        flex-direction: column;
    }

    .modal__inner--call {
        width: 100%;
    }

    .modal__call {
        width: 100%;
        max-width: 100%;
    }

    .fancybox__slide {
        padding: 0;
    }


    .fancybox__slide::before,
    .fancybox__slide::after {
        display: none;
    }

    .form__field input {
        border-color: #ccc;
    }

    .form__field.form__field--btn {
        width: 100%;
    }

    .form__field--btn button {
        padding: 15px;
    }

    .form__field--agree_x__text {
        font-size: 11px;
        max-width: 400px;
    }

    .modal__inner--call__info {
        max-width: 540px;
        margin: 0 auto;
        padding: 100px 16px;
    }
}