.home_advantage__title {
    text-align: center;
}

.home_advantage__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
}

.home_advantage__item {
    border: 1px solid #EBEBEB;
    width: calc(100% / 5 - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px 20px;
    text-align: center;
}

.home_advantage__item_icon {
    display: flex;
    margin-bottom: 13px;
}

.home_advantage__item_text {
    font-size: 15px;
    max-width: 211px;
}

.home_advantage {
    margin-bottom: 140px;
}

.page_area__appartament--home .title_2 {
    max-width: 570px;
}

.page_area__appartament--home .page_area__appartament__text {
    max-width: 100%;
}

.page_area__appartament--home {
    margin-bottom: 12px;
}

.form__block__title__up {
    color: #949494;
    font-size: 15px;
    margin-bottom: 11px;
}

.form__block--home .form__block__text {
    margin-bottom: 48px;
}

.form__block__x__image.form__block__x__image--home {
    max-width: 624px;
    left: 744px;
    bottom: -61px;
}

.promo__title {
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 47px;
    line-height: 97%;
    margin: 80px 0 60px;
}

.promo__title__gold {
    color: #AA8B62;
}

.promo__title__mobile {
    display: none;
}


.home__form_medium {
    margin-bottom: 142px;
}

.page__about__main__text.about__home {
    margin-bottom: 148px;
}

.area_home {
    position: relative;
    margin-bottom: 142px;
}

.btn_area_home {
    position: absolute;
    top: -9px;
    right: 0;
}

.area_home__top {
    padding-right: 300px;
    margin-bottom: 60px;
}

.area_item__bottom {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.area_item__city {
    font-size: 12px;
    display: inline-flex;
    align-items: flex-end;
    font-family: Roboto;
    margin-right: 10px;
    margin-left: -2px;
}

.area_item__city svg {
    margin-bottom: 0px;
    margin-right: 5px;
}

.block__2--actual__developers--homeю.block__2.block__2--actual__developers .block__2__title {
    margin: 0;
}

.btn_block__2--actual__developers.btn_block__2--actual__developers--home {
    top: 0;
}

.home__appartament__video__item__inner {
    display: flex;
    width: 100%;
    gap: 50px;
}

.home__appartament__video__item_x {
    flex: 1;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    position: relative;
}

.home__appartament__video__item_info {
    width: 503px;
    padding-bottom: 60px;
}

.home__appartament__video__item_x .slider_type_1__slide__inner {
    padding: 0;
    display: flex;
    width: 100%;
    min-height: 472px;
    margin-bottom: 4px;
}

.home__appartament__video__item_x .slide__video__play {
    margin-top: 22px;
}


.home__appartament__video__item_x .slider_type_1__slide__inner:before {
    background: linear-gradient(190.54deg, rgba(35, 31, 32, 0) -26.09%, #231f20 92.16%);
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1;
    content: "";
    transition: .25s;
}

.home__appartament__video__item_x .slider_type_1__slide__inner:hover:before {
    opacity: .7;
}

.home__appartament__video {
    position: relative;
    margin-bottom: 85px;
}

.home__appartament__video .slider_type_1__info {
    right: 270px;
}

.home__appartament__video__item_info__ttitle {
    font-weight: 300;
    font-size: 15px;
    line-height: 135%;
    color: #949494;
    margin-bottom: 30px;
    position: relative;
    padding-left: 65px;
}

.home__appartament__video__item_info__ttitle:before {
    content: "";
    position: absolute;
    left: 0;
    width: 45px;
    height: 0.5px;
    background: #949494;
    top: 13px;
}

.home__appartament__video__item_info__top {
    max-width: 400px;
    margin-bottom: 30px;
}
.home__appartament__video__item_info__top--mobile{display: none;}

.home__appartament__video__item_info__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    margin-bottom: 18px;
}

.home__appartament__video__item_info__text {
    font-size: 17px;
    line-height: 1.2;
}

.home__appartament__video__item_info__add {
    background: #F8F8F8;
    padding: 21px 20px;
    margin-bottom: 27px;
}

.home__appartament__video__item_info__add__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    color: #949494;
    font-size: 17px;
    margin-bottom: 17px;
}

.home__appartament__video__item_info__add__list b {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #231F20;
}

.home__appartament__video__item_info__add__text {
    font-size: 15px;
}

.home__appartament__video__item_more {
    text-decoration: none;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #AA8B62;
    font-size: 15px;
    font-weight: 400;
}

.home__appartament__video__item_more svg {
    margin-left: 7px;
    transition: 0.25s;
}

.home__appartament__video__item_more:hover svg {
    transform: translate(5px, 0);
}

.home__appartament__video__item_more path {
    transition: 0.25s;
}

.home__appartament__video__item_more:hover path {
    stroke: #8c6d44;
}

.home__appartament__video__item_more:hover {
    color: #8c6d44;
}


.home__promo__location__item__preview {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: 0.25s;
    z-index: 2;
    bottom: 55px;
    left: 9px;
    display: flex;
    align-items: flex-end;
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 47px;
}

.home__promo__location__item__title {
    position: absolute;
    bottom: 30px;
    z-index: 2;
    transition: 0.25s;
    left: 50px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    gap: 11px;
}

.home__promo__location__item__more {
    position: absolute;
    bottom: 30px;
    right: 60px;
    transition: 0.25s;
    color: #fff;
    z-index: 2;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    gap: 12px;
    align-items: center;
}



.home__promo__list {
    display: flex;
    gap: 10px;
}

.home__promo__location__item.fold {
    width: 160px;
    overflow: hidden;
    cursor: pointer;
}

.home__promo__location__item.unfold {
    width: auto;
    width: calc(100% - 160px - 160px - 20px);
}

.home__promo .home__promo__location__item {
    position: relative;
    overflow: hidden;
    transition: 0.35s ease-in-out;
}

.home__promo .page_area__image_map {
    margin: 0;
}

.home__promo {
    margin: 0 -230px 140px;
}

.home__promo__location__item.fold .home__promo__location__item__preview {
    visibility: visible;
    opacity: 1;
}

.home__promo__location__item__preview__text {
    color: #fff;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.home__promo__location__item__preview svg {
    margin-bottom: 10px;
}

.home__promo__location__item.fold .home__promo__location__item__title {
    opacity: 0;
    visibility: hidden;
}

.home__promo__location__item.fold .home__promo__location__item__more {
    opacity: 0;
    visibility: hidden;
}

.home__promo__location__item__title__name {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 0.9;
}

.home__promo__location__item__title__start {
    font-size: 17px;
}

.home__promo__location__item__more:hover {
    color: #aa8b62;
}

.home__promo__location__item__more:hover path {
    stroke: #aa8b62;
}

.home__promo__location__item__more:hover svg {
    transform: translate(5px, 0);
}

.home__promo__location__item__more svg {
    transition: 0.25s;
}

.home__promo .image__appartment__block {
    width: 100%;
}

.home__promo__image__wrap {
    height: 100%;
    position: relative;
}

.home__promo__image__wrap img {
    height: 100%;
    object-fit: cover;
}

.home__promo__location__item.fold .point_appartament_x {
    display: none;
}

.home__promo .point_appartament_x {
    z-index: 1;
}

.home__promo .point_appartament_x.show {
    z-index: 3;
}

.home__promo__image__wrap:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(180deg,rgba(35,31,32,0) 0%,rgb(35 31 32 / 50%) 100%);
}

.home__promo__mobile__links {
    display: none;
}

.home__promo__top {
    display: none;
}

.contact__page__form.contact__page__form--home .form__block:after {
    z-index: -1;
}

.home__appartament__video__item_x__line{position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;z-index: 5;}
.home__appartament__video__item_x___line__inner{
    position: absolute;
    width: 0;
    top:0;
    height: 100%;
    left: 0;
    background: #AA8B62;
}
.active .home__appartament__video__item_x___line__inner{
    animation: animateWidthSlider 7s linear infinite;
}

.home__promo__move__mobile__icon {
    animation: linear infinite alternate;
   animation-name: run;
   animation-duration: 2.5s;
 }

 @keyframes run {
     0% {
       transform: translateX(20%);
     }
     100% {
       transform: translateX(-20%);
     }
 }

@keyframes animateWidthSlider {
    0% {
        width: 0;
    }
    100% {
       width: 100%;
    }
}

.home__promo__move__mobile {
    display: none;
}

.home__promo__wrap {
    position: relative;
}


@media screen and (max-width: 1900px) {
    .home__promo {
        width: calc(100vw - 20px);
        margin: 0 0 140px;
        margin-left: calc(-1 * (100vw - 1460px) / 2);
    }

    .home__promo .image__appartment__block__inner img {
        width: auto;
    }

    .home__promo .page_area__image_map {
        width: 100%;
    }

    .home__promo .image__appartment__block {
        width: 1555px;
    }
}



@media screen and (max-width: 1500px) {
    .promo__title {
        font-size: 38px;
        max-width: 1200px;
    }
}

@media screen and (max-width: 1480px) {
    .home__promo {
        margin: 0 -20px 140px;
        width: 100vw;
    }
}



@media screen and (max-width: 1200px) {
    .form__block__x__image.form__block__x__image--home {
        left: 570px;
        max-width: 500px;
        top: 45px;
    }

    .home_advantage__item {
        width: calc(25% - 16px);
    }
}

@media screen and (max-width: 1100px) {
    .home__promo__move__mobile {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #fff;
        background: rgba(0,0,0,.5);
        pointer-events: none;
    }

    .home__promo__move__mobile svg {
        width: 85px;
        height: auto;
        margin-bottom: 20px;
        opacity: 0.7;
    }

    .home__promo__move__mobile__text {
        max-width: 300px;
        font-weight: 400;
        font-size: 16px;
    }

    .home__promo__move__mobile__icon path {
        fill: #fff;
    }
    .home__promo .home__promo__location__item {
        padding-bottom: 48px;
    }

    .home__promo__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        gap: 6px;
        color: #949494;
        font-size: 11px;
    }

    .home__promo__mobile__links {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .home__promo__location__item.fold {
        width: 0;
    }

    .home__promo__location__item.unfold {
        width: 100%;
    }

    .home__promo__list {
        gap: 0;
    }

    .home__promo__location__item__title__name {
        display: none;
    }

    .home__promo__location__item__title {
        font-size: 0;
        gap: 0;
        left: 30px;
        bottom: 75px;
    }

    .home__promo__location__item__more {
        left: 30px;
        right: auto;
        bottom: 0;
        font-size: 15px;
        background: #000;
        background: #AA8B62;
        width: 100%;
        left: 0;
        height: 48px;
        justify-content: center;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
    }

    .home__promo__location__item__more:hover {
        background: #8c6d44;
        color: #fff
    }

    .home__promo__mobile__links a {
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        color: inherit;
        border: 1px solid #EBEBEB;
        padding: 8px 12px;
    }

    .home__promo__mobile__links a:hover {
        color: #fff;
        background: #231F20;
    }

    .home__promo {
        position: relative;
    }

    .home__promo__image__wrap:before {
        background: linear-gradient(179.98deg, rgba(35, 31, 32, 0) 0.01%, #231F20 99.99%);
    }



    .home__promo__mobile__links a.active {
        color: #fff;
        background: #231F20;
    }


}

@media screen and (max-width: 1000px) {
    .home_advantage__item {
        width: calc(33.33% - 13.35px);
    }

    .form__block__x__image.form__block__x__image--home {
        left: 407px;
    }


    .home__appartament__video__item_info__title {
        font-size: 29px;
    }

    .home__appartament__video__item_info__text {
        font-size: 15px;
    }

    .home__appartament__video__item_info__top {
        max-width: 300px;
    }


    .home__appartament__video__item_info {
        width: 400px;
    }

    .home__appartament__video .slider_type_1__info {
        right: 0;
    }

    .home__appartament__video__list {
        margin-left: -20px;
    }

    .home__appartament__video__item_info__ttitle {
        font-size: 14px;
        padding-left: 50px;
    }

    .home__appartament__video__item__inner {
        gap: 30px;
    }

    .home__appartament__video__item_info__ttitle:before {
        width: 35px;
        top: 10px;
    }

    .home__appartament__video__item_info__add__list {
        font-size: 15px;
    }

    .home__appartament__video__item_info__add__list b {
        font-size: inherit;
    }

    .home__appartament__video__item_info__add__text {
        font-size: 14px;
    }
}



@media screen and (max-width: 800px) {
    .home__appartament__video__item_info {
        width: 100%;
        padding: 20px 16px 10px;
    }

    .home__appartament__video__item__inner {
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
        gap: 0;
    }

    .home__appartament__video {
        margin-bottom: 40px;
    }

    .home__appartament__video__list {
        margin: 0 -16px;
    }
    .home__appartament__video__item_info__top--mobile{display: block;}
    .home__appartament__video__item_info__top--desktop{display: none;}
}


@media screen and (max-width: 750px) {
    .btn_area_home {
        position: static;
        margin: 0 auto;
        display: flex;
        max-width: 500px;
        justify-content: center;
        width: 100%;
    }

    .area_home__top {
        padding-right: 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 700px) {
    .area_home {
        margin-bottom: 100px;
    }

    .page__about__main__text.about__home {
        margin-bottom: 100px;
    }

    .home__form_medium {
        margin-bottom: 100px;
    }

    .promo__title {
        font-size: 41px;
        line-height: 1.1;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .home_advantage__item {
        width: calc(50% - 10px);
    }

    .form__block__x__image.form__block__x__image--home {
        left: 305px;
        width: 400px;
        top: 25px;
    }

    .promo__title__mobile {
        display: block;
    }

    .promo__title__desktop {
        display: none;
    }

    .home_advantage__title {
        max-width: 300px;
        margin: 0 auto 18px;
        line-height: 1.05;
    }

    .home_advantage__list {
        margin-top: 50px;
    }

    .home_advantage {
        margin-bottom: 100px;
    }

}

@media screen and (max-width: 550px) {
    .home__promo {
        margin: 0 -16px 100px;
    }
    .home__appartament__video__item_info__top {
        padding: 0 20px;
        max-width: 100%;
    }

    .form__block__x__image.form__block__x__image--home {
        width: 100%;
        margin: 20px 0 25px;
        margin-bottom: -10%;
    }

    .home_advantage__item {
        border: none;
        padding: 0;
    }

    .home_advantage__item_text {
        font-size: 14px;
    }

    .home_advantage__list {
        gap: 30px 20px;
    }


    .home_advantage__item_icon {
        margin-bottom: 15px;
    }
}