.breadcrumbs__list {
    list-style: none;
    display: flex;
    font-size: 12px;
}


.breadcrumbs__link:after {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.929573 5.5697V6.5H10.0026L0.929688 0.5L0.929573 5.5697Z' fill='%23EBEBEB'/%3E%3C/svg%3E%0A");
    content: '';
    width: 11px;
    height: 7px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: 0 9px;
}

.breadcrumbs__link {
    color: #949494;
    text-decoration: none;
}

.breadcrumbs {
    padding: 35px 0 31px;
}

.breadcrumbs__link:hover {
    color: #aa8b62;
}

p.paragraph_medium {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 31px;
}

.text__content {
    max-width: 750px;
}

.default__text>* {
    margin-bottom: 19px;
}

.default__text h2 {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 1.1;
    margin-bottom: 17px;
    margin-top: 32px;
}


.default__text_1{font-size: 15px;}


.text__content_contact__phone {
    font-family: 'Wremena Light';
    font-weight: 300;
    font-size: 47px;
    line-height: 97%;
    text-decoration: none;
    color: inherit;
}

.text__content_contact {
    margin-top: 53px;
}

.text__content_contact p {
    margin-bottom: 34px;
    max-width: 420px;
    font-size: 17px;
}

.text__content_contact__mail {
    font-size: 29px;
    font-family: 'Wremena Light';
    font-weight: 300;
    color: inherit;
    text-decoration: none;
}

.text__content_contact p:last-child {
    margin-bottom: 0;
}

.default__text>*:last-child {
    margin-bottom: 0;
}

.text__content_contact__phone:hover {
    color: #aa8b62;
}

.text__content_contact__mail:hover {
    color: #aa8b62;
}

.text__content_contact__adress {
    color: inherit;
    text-decoration: none;
}

.text__content_contact__adress:hover {
    color: #aa8b62;
}

@media screen and (max-width: 850px) {

    p.paragraph_medium {
        font-size: 18px;
    }

    .default__text_1 {
        font-size: 14px;
    }

    .default__text h2 {
        font-size: 23px;
    }

    .text__content_contact__phone {
        font-size: 35px;
    }

    .text__content_contact__mail {
        font-size: 25px;
    }

    .text__content_contact p {
        font-size: 15px;
        margin-bottom: 28px;
    }

    .text__content_contact {
        margin-top: 47px;
    }
}


@media screen and (max-width: 550px) {

    .breadcrumbs {
        padding: 50px 0 63px;
    }

    .breadcrumbs__list {
        font-size: 11px;
    }

    .text__content_contact__phone {
        font-size: 29px;
    }

    .text__content_contact__mail {
        font-size: 23px;
    }
}