<div class="home__promo">
    <div class="home__promo__mobile__links js_home__promo__mobile__links">
        <a href="" class="active">Dubai Marina</a>
        <a href="">Saadiyat island</a>
        <a href="">Yas island</a>
    </div>
    <div class="home__promo__wrap js_home__promo__move__mobile__wrap">

        <div class="home__promo__list js_home__promo__list">

            <div class="home__promo__location__item unfold">
                <div class="home__promo__location__item__preview">
                    <div class="home__promo__location__item__preview__text">Dubai Marina</div>
                    <svg width="45" height="6" viewBox="0 0 45 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.9271 5.0697H0V6H45L35.9271 0V5.0697Z" fill="white"/>
                    </svg>
                </div>
                <div class="home__promo__location__item__title">
                    <div class="home__promo__location__item__title__name">Dubai Marina</div> | <div class="home__promo__location__item__title__start">Старт закрытых продаж</div>
                </div>
                <a href="" class="home__promo__location__item__more">
                    Подробнее о локации
                    <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 10.5L5.25 6L0.75 1.5" stroke="white" stroke-linecap="square"/>
                    </svg>
                </a>
                <div class="page_area__image_map js_page_area__image_map">
                    <div class="image__appartment__block">
                        <div class="home__promo__move__mobile js_home__promo__move__mobile">
                            <div class="home__promo__move__mobile__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 490.651 490.651" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                                <path d="M437.328,42.651h-128c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h128
                                    c5.888,0,10.667-4.779,10.667-10.667S443.216,42.651,437.328,42.651z" fill="#000000" data-original="#000000"></path>
                                <path d="M444.88,45.787L402.213,3.12c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.16-4.16,10.923,0,15.083l35.115,35.115
                                    l-35.136,35.136c-4.16,4.16-4.16,10.923,0,15.083c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.552-3.115
                                    l42.667-42.667C449.04,56.709,449.04,49.947,444.88,45.787z" fill="#000000" data-original="#000000"></path>
                                <path d="M159.995,42.651h-128c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h128
                                    c5.888,0,10.667-4.779,10.667-10.667S165.883,42.651,159.995,42.651z" fill="#000000" data-original="#000000"></path>
                                <path d="M47.077,53.317l35.115-35.115c4.16-4.16,4.16-10.923,0-15.083c-4.16-4.16-10.923-4.16-15.083,0L24.443,45.787
                                    c-4.16,4.16-4.16,10.923,0,15.083l42.667,42.667c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.136
                                    c4.16-4.16,4.16-10.923,0-15.083L47.077,53.317z" fill="#000000" data-original="#000000"></path>
                                <path d="M426.661,213.317c-8.768,0-16.939,2.667-23.723,7.211c-5.845-16.597-21.696-28.544-40.277-28.544
                                    c-8.768,0-16.939,2.667-23.723,7.211c-5.845-16.597-21.696-28.544-40.277-28.544c-7.765,0-15.061,2.091-21.333,5.739v-69.739
                                    c0-23.531-19.136-42.667-42.667-42.667c-23.531,0-42.667,19.136-42.667,42.667v181.333l-37.077-27.797
                                    c-21.973-16.491-53.248-14.293-72.725,5.163c-12.48,12.48-12.48,32.768,0,45.248l151.915,151.936
                                    c18.133,18.133,42.261,28.117,67.904,28.117h49.984c64.683,0,117.333-52.629,117.333-117.333V255.984
                                    C469.328,232.453,450.192,213.317,426.661,213.317z M447.995,373.317c0,52.928-43.072,96-96,96h-49.984
                                    c-19.968,0-38.72-7.765-52.821-21.867L97.275,295.515c-4.16-4.16-4.16-10.923,0-15.083c6.613-6.592,15.445-9.984,24.32-9.984
                                    c7.211,0,14.464,2.24,20.544,6.805l54.123,40.597c3.243,2.432,7.595,2.795,11.179,1.003c3.605-1.813,5.888-5.504,5.888-9.536
                                    V106.651c0-11.755,9.557-21.333,21.333-21.333s21.333,9.579,21.333,21.333v160c0,5.888,4.779,10.667,10.667,10.667
                                    s10.667-4.779,10.667-10.667v-53.333c0-11.755,9.557-21.333,21.333-21.333s21.333,9.579,21.333,21.333v53.333
                                    c0,5.888,4.779,10.667,10.667,10.667c5.888,0,10.667-4.779,10.667-10.667v-32c0-11.755,9.557-21.333,21.333-21.333
                                    s21.333,9.579,21.333,21.333v32c0,5.888,4.779,10.667,10.667,10.667c5.888,0,10.667-4.779,10.667-10.667v-10.667
                                    c0-11.755,9.557-21.333,21.333-21.333s21.333,9.579,21.333,21.333V373.317z" fill="#000000" data-original="#000000"></path>
                                    </svg>
                                </div>
                            <div class="home__promo__move__mobile__text">Для просмотра карты проскрольте пальцем вправо-влево</div>
                        </div>
                        <div class="image__appartment__block__inner">

                            @@loop('../../components/card_on_image.html', [
                            {
                                "top": '53%',
                                "left": '6%',
                                "position": 'right'
                            },
                            {
                                "top": '75%',
                                "left": '2%',
                                "position": 'right'
                            },
                            {
                                "top": '67%',
                                "left": '18%',
                                "position": 'right'
                            },

                            {
                                "top": '63%',
                                "left": '20.25%',
                                "position": 'right'
                            },

                            {
                                "top": '75%',
                                "left": '19.5%',
                                "position": 'right'
                            },
                            {
                                "top": '18%',
                                "left": '82.25%',
                                "position": 'left'
                            },
                            {
                                "top": '9%',
                                "left": '91.25%',
                                "position": 'left'
                            },
                            {
                                "top": '42%',
                                "left": '54.75%',
                                "position": 'left'
                            },

                        ])

                            <div class="home__promo__image__wrap">
                                <img src="images/pages/home/promo/1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="home__promo__location__item fold">
                <div class="home__promo__location__item__preview">
                    <div class="home__promo__location__item__preview__text">Saadiyat island</div>
                    <svg width="45" height="6" viewBox="0 0 45 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.9271 5.0697H0V6H45L35.9271 0V5.0697Z" fill="white"/>
                    </svg>
                </div>
                <div class="home__promo__location__item__title">
                    <div class="home__promo__location__item__title__name">Saadiyat island</div> | <div class="home__promo__location__item__title__start">Старт закрытых продаж</div>
                </div>
                <a href="" class="home__promo__location__item__more">
                    Подробнее о локации
                    <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 10.5L5.25 6L0.75 1.5" stroke="white" stroke-linecap="square"/>
                    </svg>
                </a>
                <div class="page_area__image_map js_page_area__image_map">
                    <div class="image__appartment__block">
                        <div class="home__promo__move__mobile js_home__promo__move__mobile">
                            <div class="home__promo__move__mobile__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 490.651 490.651" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                                <path d="M437.328,42.651h-128c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h128
                                    c5.888,0,10.667-4.779,10.667-10.667S443.216,42.651,437.328,42.651z" fill="#000000" data-original="#000000"></path>
                                <path d="M444.88,45.787L402.213,3.12c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.16-4.16,10.923,0,15.083l35.115,35.115
                                    l-35.136,35.136c-4.16,4.16-4.16,10.923,0,15.083c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.552-3.115
                                    l42.667-42.667C449.04,56.709,449.04,49.947,444.88,45.787z" fill="#000000" data-original="#000000"></path>
                                <path d="M159.995,42.651h-128c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h128
                                    c5.888,0,10.667-4.779,10.667-10.667S165.883,42.651,159.995,42.651z" fill="#000000" data-original="#000000"></path>
                                <path d="M47.077,53.317l35.115-35.115c4.16-4.16,4.16-10.923,0-15.083c-4.16-4.16-10.923-4.16-15.083,0L24.443,45.787
                                    c-4.16,4.16-4.16,10.923,0,15.083l42.667,42.667c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.136
                                    c4.16-4.16,4.16-10.923,0-15.083L47.077,53.317z" fill="#000000" data-original="#000000"></path>
                                <path d="M426.661,213.317c-8.768,0-16.939,2.667-23.723,7.211c-5.845-16.597-21.696-28.544-40.277-28.544
                                    c-8.768,0-16.939,2.667-23.723,7.211c-5.845-16.597-21.696-28.544-40.277-28.544c-7.765,0-15.061,2.091-21.333,5.739v-69.739
                                    c0-23.531-19.136-42.667-42.667-42.667c-23.531,0-42.667,19.136-42.667,42.667v181.333l-37.077-27.797
                                    c-21.973-16.491-53.248-14.293-72.725,5.163c-12.48,12.48-12.48,32.768,0,45.248l151.915,151.936
                                    c18.133,18.133,42.261,28.117,67.904,28.117h49.984c64.683,0,117.333-52.629,117.333-117.333V255.984
                                    C469.328,232.453,450.192,213.317,426.661,213.317z M447.995,373.317c0,52.928-43.072,96-96,96h-49.984
                                    c-19.968,0-38.72-7.765-52.821-21.867L97.275,295.515c-4.16-4.16-4.16-10.923,0-15.083c6.613-6.592,15.445-9.984,24.32-9.984
                                    c7.211,0,14.464,2.24,20.544,6.805l54.123,40.597c3.243,2.432,7.595,2.795,11.179,1.003c3.605-1.813,5.888-5.504,5.888-9.536
                                    V106.651c0-11.755,9.557-21.333,21.333-21.333s21.333,9.579,21.333,21.333v160c0,5.888,4.779,10.667,10.667,10.667
                                    s10.667-4.779,10.667-10.667v-53.333c0-11.755,9.557-21.333,21.333-21.333s21.333,9.579,21.333,21.333v53.333
                                    c0,5.888,4.779,10.667,10.667,10.667c5.888,0,10.667-4.779,10.667-10.667v-32c0-11.755,9.557-21.333,21.333-21.333
                                    s21.333,9.579,21.333,21.333v32c0,5.888,4.779,10.667,10.667,10.667c5.888,0,10.667-4.779,10.667-10.667v-10.667
                                    c0-11.755,9.557-21.333,21.333-21.333s21.333,9.579,21.333,21.333V373.317z" fill="#000000" data-original="#000000"></path>
                                    </svg>
                                </div>
                            <div class="home__promo__move__mobile__text">Для просмотра карты проскрольте пальцем вправо-влево</div>
                        </div>
                        <div class="image__appartment__block__inner">

                            @@loop('../../components/card_on_image.html', [
                                {
                                    "top": '9%',
                                    "left": '85%',
                                    "position": 'left'
                                },

                                {
                                    "top": '46%',
                                    "left": '32%',
                                    "position": 'right'
                                },
                                {
                                    "top": '64%',
                                    "left": '33%',
                                    "position": 'right'
                                },

                            ])

                            <div class="home__promo__image__wrap">
                                <img src="images/pages/home/promo/2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home__promo__location__item fold">
                <div class="home__promo__location__item__preview">
                    <div class="home__promo__location__item__preview__text">Yas island</div>
                    <svg width="45" height="6" viewBox="0 0 45 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.9271 5.0697H0V6H45L35.9271 0V5.0697Z" fill="white"/>
                    </svg>
                </div>
                <div class="home__promo__location__item__title">
                    <div class="home__promo__location__item__title__name">Yas island</div> | <div class="home__promo__location__item__title__start">Старт закрытых продаж</div>
                </div>
                <a href="" class="home__promo__location__item__more">
                    Подробнее о локации
                    <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 10.5L5.25 6L0.75 1.5" stroke="white" stroke-linecap="square"/>
                    </svg>
                </a>
                <div class="page_area__image_map js_page_area__image_map">
                    <div class="image__appartment__block">
                        <div class="home__promo__move__mobile js_home__promo__move__mobile">
                            <div class="home__promo__move__mobile__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 490.651 490.651" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                                <path d="M437.328,42.651h-128c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h128
                                    c5.888,0,10.667-4.779,10.667-10.667S443.216,42.651,437.328,42.651z" fill="#000000" data-original="#000000"></path>
                                <path d="M444.88,45.787L402.213,3.12c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.16-4.16,10.923,0,15.083l35.115,35.115
                                    l-35.136,35.136c-4.16,4.16-4.16,10.923,0,15.083c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.552-3.115
                                    l42.667-42.667C449.04,56.709,449.04,49.947,444.88,45.787z" fill="#000000" data-original="#000000"></path>
                                <path d="M159.995,42.651h-128c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h128
                                    c5.888,0,10.667-4.779,10.667-10.667S165.883,42.651,159.995,42.651z" fill="#000000" data-original="#000000"></path>
                                <path d="M47.077,53.317l35.115-35.115c4.16-4.16,4.16-10.923,0-15.083c-4.16-4.16-10.923-4.16-15.083,0L24.443,45.787
                                    c-4.16,4.16-4.16,10.923,0,15.083l42.667,42.667c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.136
                                    c4.16-4.16,4.16-10.923,0-15.083L47.077,53.317z" fill="#000000" data-original="#000000"></path>
                                <path d="M426.661,213.317c-8.768,0-16.939,2.667-23.723,7.211c-5.845-16.597-21.696-28.544-40.277-28.544
                                    c-8.768,0-16.939,2.667-23.723,7.211c-5.845-16.597-21.696-28.544-40.277-28.544c-7.765,0-15.061,2.091-21.333,5.739v-69.739
                                    c0-23.531-19.136-42.667-42.667-42.667c-23.531,0-42.667,19.136-42.667,42.667v181.333l-37.077-27.797
                                    c-21.973-16.491-53.248-14.293-72.725,5.163c-12.48,12.48-12.48,32.768,0,45.248l151.915,151.936
                                    c18.133,18.133,42.261,28.117,67.904,28.117h49.984c64.683,0,117.333-52.629,117.333-117.333V255.984
                                    C469.328,232.453,450.192,213.317,426.661,213.317z M447.995,373.317c0,52.928-43.072,96-96,96h-49.984
                                    c-19.968,0-38.72-7.765-52.821-21.867L97.275,295.515c-4.16-4.16-4.16-10.923,0-15.083c6.613-6.592,15.445-9.984,24.32-9.984
                                    c7.211,0,14.464,2.24,20.544,6.805l54.123,40.597c3.243,2.432,7.595,2.795,11.179,1.003c3.605-1.813,5.888-5.504,5.888-9.536
                                    V106.651c0-11.755,9.557-21.333,21.333-21.333s21.333,9.579,21.333,21.333v160c0,5.888,4.779,10.667,10.667,10.667
                                    s10.667-4.779,10.667-10.667v-53.333c0-11.755,9.557-21.333,21.333-21.333s21.333,9.579,21.333,21.333v53.333
                                    c0,5.888,4.779,10.667,10.667,10.667c5.888,0,10.667-4.779,10.667-10.667v-32c0-11.755,9.557-21.333,21.333-21.333
                                    s21.333,9.579,21.333,21.333v32c0,5.888,4.779,10.667,10.667,10.667c5.888,0,10.667-4.779,10.667-10.667v-10.667
                                    c0-11.755,9.557-21.333,21.333-21.333s21.333,9.579,21.333,21.333V373.317z" fill="#000000" data-original="#000000"></path>
                                    </svg>
                                </div>
                            <div class="home__promo__move__mobile__text">Для просмотра карты проскрольте пальцем вправо-влево</div>
                        </div>
                        <div class="image__appartment__block__inner">

                            @@loop('../../components/card_on_image.html', [
                                {
                                    "top": '44%%',
                                    "left": '8%',
                                    "position": 'right'
                                },
                                {
                                    "top": '45%',
                                    "left": '15%',
                                    "position": 'right'
                                },
                                {
                                    "top": '56%',
                                    "left": '77%',
                                    "position": 'left'
                                },

                                {
                                    "top": '64%',
                                    "left": '88%',
                                    "position": 'left'
                                },

                            ])

                            <div class="home__promo__image__wrap">
                                <img src="images/pages/home/promo/3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>