.text-center {
    text-align: center;
}

.breadcrumbs.text-center .breadcrumbs__list {
    justify-content: center;
}

.page__developer__top__text {
    max-width: 600px;
    margin: 0 auto;
    font-size: 17px;
    margin-top: -10px;
}

.page__developer__top {
    margin-bottom: 55px;
}

.slider_type_1__slide__inner {
    padding-top: 41.75%;
    position: relative;
}

.slider_type_1__area_add_info+.slider_type_1__slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(10.4deg,#000 1.73%,rgba(0,0,0,0) 90.56%);
    z-index: 1;
    transition: .35s ease-in-out;
    opacity: .75;
}

.slider_type_1__slide__inner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_type_1__wrap {
    position: relative;
}

.slider_type_1__info {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 20px 18px;
}

.slider_type_1__info>* {
    display: flex;
    align-items: center;
}

.slider__develop_page {
    margin-bottom: 141px;
}

.block__2__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    max-width: 670px;
    margin-bottom: 17px;
}

.block__2__text {
    font-size: 17px;
    margin-bottom: 57px;
}

.block__2__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 62px;
}

.block__2__item {
    width: calc(100% / 3 - 35px);
}

.block__2__item__image__inner {
    position: relative;
    padding-top: 58.5%;
}

.block__2__item__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s ease-in-out;
}

.block__2__item__image {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.block__2__item__title a {
    font-size: 20px;
    line-height: 1.1;
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.block__2__item__title {
    margin-bottom: 9px;
}

.block__2__item__text {
    font-size: 15px;
    line-height: 1.34;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.block__2__item__title a:hover {
    color: #aa8b62;
}

.block__2__item__image:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(35, 31, 32, 0.1);
    z-index: 1;
    transition: 0.25s ease-in-out;
}

.block__2__item__image:hover:before {
    opacity: 0;
}

.block__2__item__image:hover img {
    transform: scale(1.05);
}

.block__2__bottom {
    text-align: center;
}

.btn_y {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #AA8B62;
    text-decoration: none;
    border: 1px solid #AA8B62;
    padding: 13px 30px;
    display: inline-flex;
    align-items: center;
}

.btn_y svg {
    margin-left: 10px;
}

.btn_block__2__bottom {
    margin-bottom: 20px;
}

.btn_y:hover svg {
    transform: translate(2px,0);
}

.btn_y svg {
    transition: 0.25s;
}

.btn_y:hover {
    color: #8C6D44;
}

.btn_y path {
    transition: 0.25s
}

.btn_y:hover path {
    stroke: #8C6D44;
}

.block__2__bottom__show {
    color: #949494;
    font-size: 12px;
}

.block__2 {
    margin-bottom: 140px;
}

.why_we__title {
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    max-width: 600px;
    margin-bottom: 60px;
}

.why_we__list {
    display: flex;
    flex-wrap: wrap;
}

.why_we__item__title {
    font-family: "Wremena Light";
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 1.1;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 47px;
    width: 50%;
    padding-right: 40px;
}

.why_we__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 52px;
}

.why_we__item__text {
    max-width: 680px;
    font-size: 15px;
    line-height: 135%;
    margin-top: -2px;
    flex: 1;
}

.why_we__item:last-child {
    margin-bottom: 0;
}

.why_we {
    margin-bottom: 143px;
}


@media screen and (max-width: 1000px) {
    .block__2__item {
        width: calc(50% - 25px);
    }
}

@media screen and (max-width: 800px) {
    .page__developer__top__text {
        font-size: 15px;
        margin-top: 0;
    }

    .page__developer__top {
        margin-bottom: 50px;
    }

    .slider_type_1__info {
        position: static;
        padding: 0;
        margin-top: 30px;
    }

    .slider_type_1__info>* {
        justify-content: center;
    }

    .slider_info__arrow {
        position: absolute;
    }

    .slider_info__arrow>:first-child {
        left: -80px;
        position: absolute;
    }

    .slider_info__arrow>:last-child {
        right: -110px;
        position: absolute;
    }

    .slider_type_1__slide__inner {
        height: 400px;
        padding: 0;
    }

    .slider_type_1 {
        margin: 0 -16px;
    }

    .slider__develop_page {
        margin-bottom: 100px;
    }

    .block__2__title {
        font-size: 29px;
        margin-bottom: 20px;
        max-width: 430px;
    }

    .block__2__text {
        font-size: 15px;
        max-width: 300px;
    }

    .btn_y {
        font-size: 14px;
    }

    .why_we__title {
        font-size: 29px;
        margin-bottom: 50px;
    }
    .btn_y--medium_border_none {
        border: none;
    }

    .btn_block__2__bottom--medium_big {
        max-width: 350px;
        width: 100%;
        justify-content: center;
    }

    .why_we__item__title {
        font-size: 23px;
        padding-bottom: 0;
        border: none;
        margin-bottom: 20px;
        padding-right: 0;
        width: 100%;
        max-width: 300px;
    }

    .why_we__item {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 20px;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .why_we__item__text {
        margin: 0;
        max-width: 575px;
    }

    .why_we__item:last-child {
        margin-bottom: 0;
    }

    .why_we {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 700px) {
    .block__2__item {
        width: 100%;
    }

    .block__2__list {
        margin-bottom: 30px;
    }

    .btn_block__2__bottom {
        width: 100%;
        justify-content: center;
        max-width: 350px;
    }

    .block__2 {
        margin-bottom: 100px;
    }
}
