.title_x--big {
    font-size: 40px;
}

.title_x--small_2 {
    font-size: 41px;
}

.area_link__list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.area_link__list a {
    border: 1px solid #EBEBEB;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    /* identical to box height */
    letter-spacing: 0.035em;
    text-transform: uppercase;

    /* Primary */
    color: #231F20;
    padding: 8px 11px;
    text-decoration: none;
}

.area_link__list a.active {
    background: #231F20;
    color: #fff;
    border-color: transparent;
}

.area_list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
    grid-auto-flow: dense;
}

.area_item__info {
    position: absolute;
    bottom: 24px;
    left: 30px;
    z-index: 2;
}

.area_item {
    position: relative;
    grid-column: span 1;
    display: block;
    font-family: 'Wremena Light';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 107%;
    /* identical to box height, or 25px */


    /* White */
    color: #FFFFFF;
    text-decoration: none;
    overflow: hidden;
}

.area_item.big {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
}

.area_item__image {
    width: 100%;
    position: relative;
    padding-top: 87%;
}

.area_item__image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.35s ease-in-out;
}

.area_item.horizontal {
    grid-column: span 2;
}

.area_item.horizontal .area_item__image {
    height: 100%;
    padding: 0;
}

.area_item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(10.4deg, #000 1.73%, rgba(0, 0, 0, 0) 90.56%);
    z-index: 1;
    transition: 0.35s ease-in-out;
    opacity: 0.75;
}

.area_item:hover:before {
    opacity: 1;
}

.area_item:hover .area_item__image img {
    transform: scale(1.1);
}

.area_item__count {
    color: #AA8B62;
    font-size: 12px;
    margin-top: 4px;
    font-family: 'Roboto';
    font-weight: 300;
}

.area_link__list a:hover {
    border: 1px solid #231F20;
}

.show_more__property {
    display: none;
}

.show_more__property:hover svg {
    transform: translate(3px, 0px);
}

.show_more__property svg {
    transition: 0.25s;
}

@media screen and (max-width: 1000px) {
    .area_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .area_item.horizontal .area_item__image,
    .area_item.big .area_item__image {
        padding-top: 50%;
    }
}

@media screen and (max-width: 500px) {

    .area_item.hideMobile {
        display: none;
    }

    .area_item.big .area_item__image,
    .area_item.horizontal .area_item__image,
    .area_item__image {
        height: 300px;
        padding-top: 0;
    }

    .area_list__page {
        margin: 0 -16px;
    }

    .area_item {
        grid-column: span 2;
        grid-row: span 1;
    }

    .area_list {
        gap: 30px;
    }

    .area_item {
        font-size: 20px;
    }

    .area_item__count {
        font-size: 11px;
    }

    .show_more__property {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #AA8B62;
        border: 1px solid #AA8B62;
        text-decoration: none;
        margin: 0 20px;
        padding: 14px;
    }

    .show_more__property svg {
        margin-left: 10px;
    }

    .show_more__property:hover {
        color: #8C6D44;
        border-color: #8C6D44;
    }

    .show_more__property path {
        transition: 0.25s
    }

    .show_more__property:hover path {
        stroke: #8C6D44;
    }
}