<!-- start footer -->

<footer class="main_footer">
    <div class="container">
        <div class="main_footer__top">
            <div class="footer_col footer_col--1">
                <div class="footer_col__title">Застройщики</div>
                <div class="footer_menu">
                    <ul>
                        <li><a href="">DAMAC Properties</a></li>
                        <li><a href="">Meraas Holding</a></li>
                        <li><a href="">Emaar Properties</a></li>
                        <li><a href="">Dubai Properties</a></li>
                        <li><a href="">LIV Developers</a></li>
                        <li><a href="">Select Group</a></li>
                        <li><a href="">Omniyat Properties</a></li>
                        <li><a href="">Seven Tides</a></li>
                        <li><a href="">Ellington Properties</a></li>
                        <li ><a class='footer_menu__link__all' href="">Все застройщики...</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_col footer_col--2">
                <div class="footer_col__title">Проекты</div>
                <div class="footer_property__list">
                    <div class="footer_property__item">
                        <a href="" class="footer_property__item__image">
                            <span class="footer_property__item__image__inner">
                                <img src="images/__content/object_small.jpg" alt="">
                            </span>
                        </a>
                        <div class="footer_property__info">
                            <div class="footer_property__title">Название проекта 1</div>
                            <div class="footer_property__price">от 5 500 000 AED</div>
                        </div>
                    </div>
                    <div class="footer_property__item">
                        <a href="" class="footer_property__item__image">
                            <span class="footer_property__item__image__inner">
                                <img src="images/__content/object_small.jpg" alt="">
                            </span>
                        </a>
                        <div class="footer_property__info">
                            <div class="footer_property__title">Название проекта 2</div>
                            <div class="footer_property__price">от 5 500 000 AED</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="footer_col footer_col--3">
                <div class="footer_col__title">Районы</div>
                <div class="footer_menu">
                    <ul>
                        <li><a href="">Palm Jumeirah</a></li>
                        <li><a href="">Business Bay</a></li>
                        <li><a href="">Downtown Dubai</a></li>
                        <li><a href="">Dubailand</a></li>
                        <li><a href="">Jumeirah Beach Residences</a></li>
                        <li><a href="">Dubai marina</a></li>
                        <li><a href="">Dubai South</a></li>
                        <li><a href="">Mohammed Bin Rashid City</a></li>
                        <li><a href="">Jumeirah</a></li>
                        <li><a class='footer_menu__link__all' href="">Все районы...</a></li>
                    </ul>
                </div>

            </div>
            <div class="footer_col footer_col--4">
                <div class="footer_menu_big">
                    <ul>
                        <li><a href="">Апартаменты</a></li>
                        <li><a href="">Виллы</a></li>
                        <li><a href="">О нас</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer_col footer_col--5">
                <div class="footer__info">
                    <a href="" class="footer__logo">
                        <img src="images/logo.svg" alt="main logo">
                    </a>
                    <div class="footer__lang">
                        <a href="" class="active">RU</a>
                        <a href="">ENG</a>
                    </div>
                    <div class="footer__contact">
                        <a href="tel:+999 (9) 999-6969" class="footer__phone">+999 (9) 999-6969</a>
                        <a href="mailto:nikaestate@help.com" class="footer__mail">nikaestate@help.com</a>
                    </div>
                    <div class="footer__social">
                        <a href="" target="_blank">
                            <svg width="16" height="16"><use xlink:href="#icon__tg" /></svg>
                        </a>
                        <a href="" target="_blank">
                            <svg width="16" height="16"><use xlink:href="#icon__wa" /></svg>
                        </a>
                        <a href="" target="_blank">
                            <svg width="16" height="16"><use xlink:href="#icon__inst" /></svg>
                        </a>
                        <a href="" target="_blank">
                            <svg width="16" height="16"><use xlink:href="#icon__fb" /></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_footer__bottom">
            <div class="footer_col footer_col--1">
                <div class="main_footer__copyright">© Copyright 2022 - nikaestate.com</div>
            </div>
            <div class="footer_col footer_col--2">
                <a href="" target="'_blank" class="main_footer__develop">Разработано MMP-Group</a>
            </div>
        </div>
    </div>
</footer>

<button class="btn__up js_btn__up">
    <div class="btn__up__text">Вверх</div>
    <svg width="11" height="45" viewBox="0 0 11 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.0697 9.07287L8.0697 45L9 45L9 0L3 9.07287L8.0697 9.07287Z" fill="#AA8B62"/>
    </svg>
</button>


@@include('svg.html')
@@include('modal.html')

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTfFfCOtb65cluOXGa0uSjhTuqBhiZkk" defer></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
<script src="js/app.min.js?40"></script>