<header class="header_main js_header_main">
    <div class="container">


        <a href="javascript:void(0)" data-fancybox data-src="#js_modal_call"  class="header__call header__call--mobile js__modal">
            <svg width="24" height="24">
                <use xlink:href="#icon__write" />
            </svg>
        </a>

        <a href="" class="header__logo">
            <img src="images/logo.svg" alt="main logo">
        </a>

        <nav class="header__menu">
            <ul class="header__menu__list">
                <li class="has__submenu">
                    <a href="#">Районы</a>
                    @@include('submenu/1.html')
                </li>
                <li class="has__submenu">
                    <a href="#">Застройщики</a>
                    @@include('submenu/2.html')
                </li>
                <li><a href="#">Апартаменты</a></li>
                <li><a href="#">Виллы</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>

        <div class="header__info">
            <div class="header__contact">
                <a href="javascript:void(0)" data-fancybox data-src="#js_modal_call" class="header__call header__call--desktop js__modal">
                    <div class="header__call__text">Оставить заявку</div>
                    <svg width="24" height="24" class="header__call__icon">
                        <use xlink:href="#icon__write" />
                    </svg>
                </a>



                <a href="tel:+999 (9) 999-6969" class="header__phone">+999 (9) 999-6969</a>
            </div>
            <div class="header__social">
                <a href="" target="_blank">
                    <svg width="16" height="16">
                        <use xlink:href="#icon__tg" />
                    </svg>
                </a>
                <a href="" target="_blank">
                    <svg width="16" height="16">
                        <use xlink:href="#icon__wa" />
                    </svg>
                </a>
            </div>
            <div class="header__lang">
                <a href="" class="active">RU</a>
                <a href="">ENG</a>
            </div>

            <button class="header__btn_menu btn_menu js_btn_menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>





    </div>
</header>

<!-- end header -->
