<div class="js__modal__menu modal__menu">
    <div class="modal__menu__inner">

        <div class="modal__menu__top">

            <a href="" class="header__call header__call--mobile header__call--in_mobile_nenu">
                <svg width="24" height="24">
                    <use xlink:href="#icon__write" />
                </svg>
            </a>

            <a href="" class="modal__menu__top__logo">
                <img src="images/logo.svg" alt="main logo">
            </a>
            <button class="modal__menu__btn_close btn__close js_modal__menu__btn_close"></button>
        </div>

        <div class="modal__menu__nav">
            <ul class="modal__menu__list">
                <li class="has__submenu">
                    <a href="">Районы</a>
                    <button class="btn_show__submenu js_btn_show__submenu"></button>
                    <ul class="modal__submenu">
                        <li><a href="">Palm Jumeirah <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Dubai marina <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Arabian Ranches <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Business Bay <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Dubai South <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Emaar Beachfront <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Downtown Dubai <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a class="modal__submenu__item--all" href="">Все районы...</a></li>
                    </ul>
                </li>
                <li class="has__submenu">
                    <a href="">Застройщики</a>
                    <button class="btn_show__submenu js_btn_show__submenu"></button>
                    <ul class="modal__submenu">
                        <li><a href="">Palm Jumeirah <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Dubai marina <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Arabian Ranches <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Business Bay <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Dubai South <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Emaar Beachfront <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a href="">Downtown Dubai <span class="modal__submenu__item__price">от 5 500 000 AED</span></a></li>
                        <li><a class="modal__submenu__item--all" href="">Все застройщики...</a></li>
                    </ul>
                </li>
                <li><a href="">Апартаменты</a></li>
                <li><a href="">Виллы</a></li>
                <li><a href="">О нас</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </div>

        <div class="modal__menu__contact">
            <a href="tel:+999 (9) 999-6969" class="modal__menu__contact__phone">+999 (9) 999-6969</a>
            <a href="mailto:nikaestate@help.com" class="modal__menu__contact__mail">nikaestate@help.com</a>
            <div class="modal__menu__social">
                <a href="" target="_blank">
                    <svg width="16" height="16"><use xlink:href="#icon__tg" /></svg>
                </a>
                <a href="" target="_blank">
                    <svg width="16" height="16"><use xlink:href="#icon__wa" /></svg>
                </a>
                <a href="" target="_blank">
                    <svg width="16" height="16"><use xlink:href="#icon__inst" /></svg>
                </a>
                <a href="" target="_blank">
                    <svg width="16" height="16"><use xlink:href="#icon__fb" /></svg>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="modal__menu__overlay js_modal__menu__overlay"></div>



<!-- окно Call-->

<div id="js_modal_call" class="modal__default modal__call">
    <div class="modal__inner modal__inner--call">
        <div class="modal__inner--call__info">
            <div class="modal__sup_title">Всё ещё не знаете чего хотите?</div>
            <div class="modal__title">Наша команда поможет вам выбрать идеальный объект в ОАЭ</div>
            <div class="modal__add_title">23 новых объекта по цене от 820 000 AED</div>
            <form action="javascript:void(0)" class="modal__form js_form">

                <div class="form__field__row">

                    <div class="form__field">
                        <input type="text" name="name" required placeholder="Ваше имя">
                    </div>

                    <div class="form__field">
                        <input type="tel" name="phone" required placeholder="+ ___ (_) ___-____" class="js_phone">
                    </div>


                    <div class="form__field form__field--btn">
                        <button class="btn_default btn__modal__call js_form_btn">Отправить</button>
                    </div>
                </div>

                <div class="form__field form__field--agree">
                    <label class="form__field--agree_x">
                        <input type="checkbox" name="agree_box"  required>
                        <div class="form__field--agree_x__view"></div>
                        <div class="form__field--agree_x__text">Подтверждаю согласие на обработку персональных данных согласно <a href="">политике конфиденциальности</a></div>
                    </label>
                </div>
            </form>
        </div>
        <div class="modal__inner--call__image">
            <img src="images/decore/modal.png" alt="">
        </div>
    </div>
</div>



<!-- окно Спасибо Покупка в один клик -->

<div id="js_modal__thanks" class="modal__default modal__thanks">
    <div class="modal__inner modal__inner--thanks">

        <div class="modal__title">Ваша заявка <br>успешно отправлена</div>
        <div class="modal__text">В ближайшее время с вами свяжется наш консультант по недвижимости</div>

        <button class="btn_default btn__style__2 btn__form_close js__btn_close__modal">Понятно</button>

    </div>
</div>